[2016-02-24 15:43] Adam-JF commented on #262
Works great.

[2016-02-24 15:43] #262 closed

[2016-02-24 17:18] SimonLab commented on #71
For each query (search) we are saving an analytics object:
[code]

[2016-02-24 18:04] heron2014 commented on #71
At the moment analytics can be access by typing: /analytics

Every search we display in descending order, very basic view is below:

![analytics](https://cloud.githubusercontent.com/assets/8476884/13295480/f98ac758-db20-11e5-9fc1-9b7cc00c8148.png)

[2016-02-24 20:02] iteles commented on #281
@Adam-JF Any objections to renaming this 'manual toggling of blacklisted status'?

[2016-02-25 14:24] heron2014 commented on #71
updated version of activities (basic):

![analytics](https://cloud.githubusercontent.com/assets/8476884/13322215/48e6a3a8-dbcb-11e5-9cdb-e3b4605b2350.png)

[2016-02-25 14:47] Adam-JF opened #283 "Blacklisting candidates with a status"
As a user, I want to make sure **anyone ** who has a status update from being emailed on a mass email list, but they can still be emailed if someone goes onto their profile individually.

[2016-02-25 16:20] iteles commented on #283
Agreed as a last minute (and one-off) addition to sprint 6 before we begin #240 for sprint 7.

[2016-02-25 16:29] iteles commented on #71
:+1: Carried out this work outside of a sprint, given that priority was not being allocated to it and it is an enabler for a lot of the required analytics work.

[2016-02-25 20:35] Adam-JF commented on #257
Works great.

[2016-02-25 20:35] #257 closed

[2016-02-25 20:36] Adam-JF commented on #258
Potentially some issues with the reliability of this.

Will double check with the team tomorrow morning, have a suspicion it's related to people not logging out of the app first before they started using the new features. Will make sure everything is tested again before the demo.

[2016-02-25 20:37] Adam-JF commented on #261
Works great.

[2016-02-25 20:37] #261 closed

[2016-02-25 20:37] Adam-JF commented on #264
Works great.

[2016-02-25 20:37] #264 closed

[2016-02-25 21:55] iteles commented on #258
@Adam-JF If you could add some examples here of the profiles you're not sure the indicator is correct for, that would be very useful :relaxed:

[2016-02-26 10:23] Adam-JF commented on #283
Works great.

[2016-02-26 10:23] #283 closed

[2016-02-26 13:54] SimonLab commented on #241
When we will created a form to updload the new jobs, do we need to upload the images on the website, do we need some special access or do we need to store the images in another new server (aws?)

[2016-02-26 15:39] SimonLab opened #286 "Create endpoints for jobs"
Here is the list of enpoints:

* [x] GET **/jobs/list** return the list of jobs
* [x] GET **/jobs/create** return a form to create a job
* [x] POST **/jobs/create** create a new job into the database
* [x] GET **/jobs/:id** display a specific job
* [x] POST **/jobs/update/:id** update a job

The first endpoint will be use to get all the jobs to display on the website.

@nelsonic @iteles do you thi

[2016-02-26 15:43] SimonLab opened #287 "Upload image for job"
A job can be linked to some images. At the moment they are updload directly to the wordpress website in a upload folder.

- Can we upload the images from our form job on the server to this folder? Do we need some credentials to access the wp server?
Or
- Can we updload the images in another server (AWS)?

@nelsonic @iteles @heron2014 what are your thoughts?
@iteles Can you get a confirmation if we

[2016-02-26 16:04] SimonLab opened #288 "Post candidates endpoint"
create a post endpoint to create a candidates.
- [x] Find the details of the payload passed to the post /candidates endpoint
- [ ]  Add a mandatory field (LI url) to the candidate form on the website
- [x] Create a simple endpoints which log the payload received by the website (Do not create a candidate yet)
- [ ] Update a candidate with the new detail if the candidate already exists in Elasticsea

[2016-02-26 16:19] SimonLab opened #289 "Cron from website to get list of jobs"
At the moment the website is apparently executing a cron script to get every (15mn? 1h?) the list of jobs. So the website cache the data somewhere to let the visitors access the list of jobs without sending a request each time to get the list of jobs.

@iteles can we ask the detail of this process, especially how the website cache the data and if we need to create a cache on our side, we can maybe

[2016-02-26 16:33] SimonLab opened #290 "Format of the description of the job"
The description of the job seems to be in html:

[code]

@iteles Can we confirm that we need to send the description in html?

[2016-02-26 16:44] SimonLab commented on #290
If the format of the description is indeed in html we need to have a way for the users to create and format the text in html.
Can we use one of the [WYSIWYG](https://en.wikipedia.org/wiki/WYSIWYG) tools:
- https://www.tinymce.com/
- http://summernote.org/

Any other recommendations?

[2016-02-26 16:58] SimonLab opened #291 "Links between Bullhorn and the website"
We know already that the website is using Bullhorn to store the list of jobs. Are there any other links between Bullhorn and the website?
- Testimonials
- Blog
- Clients
- Contact form
- Events
- Other links?
@iteles can we confirm that only the job list is linked to Bullhorn or are there any other data to migtrate?

[2016-02-26 17:10] iteles commented on #291
@Adam-JF Do you think this is a question for TOAD or for you guys at GM?

[2016-02-26 17:18] heron2014 commented on #286
Currently, we have created following endpoints:

- get /jobs/list
- get /jobs/create
- post /jobs/create

and very basic form with Toad attributes as follows:

![basic-form](https://cloud.githubusercontent.com/assets/8476884/13359565/e024b322-dcac-11e5-8e44-c5d10d057760.png)

[2016-02-28 20:21] nelsonic commented on #286
@SimonLab looks good.
Are you going to use the same url endpoints for both `text/html` and `text/json` ?
(*so that you can access them in a browser or as an API...*)

[2016-02-29 10:02] SimonLab commented on #288
Also we need to know how the cvs are uploaded to BH. Is the website doing this directly on the backend or can we get the cv file from the payload that we will receive on the endpoint?

@iteles Can we ask for more details on the upload of the file? The website might need to update the way it does it!

[2016-02-29 10:07] SimonLab opened #292 "Json list job vs Json detail job"
@iteles Can we ask if the website need different properties for the list of jobs and for the detail of job? The list of jobs might have less data because the website display a resume of the job description.

[2016-02-29 10:26] SimonLab commented on #286
@nelsonic nice question, I'm not sure if we should use the same name for the endpoint if they return html or json. We could precise the format in the endpoint: /jobs/list/html and keep the json format by default. Is it a good idea?

[2016-02-29 10:29] SimonLab opened #293 "Map BH properties to JSON properties"
Create the documentation which explain how to create a JSON object from the BH properties.

[2016-02-29 10:33] SimonLab commented on #293
The end result:
[code]

[2016-02-29 10:39] SimonLab commented on #293
So we need to define also the categories and the businessSectors list. The skillList seems to have the string type but is there a specific format to save the skills (comma, semi colon...)?

[2016-02-29 11:10] SimonLab opened #294 "Import existing list of jobs to Elasticsearch"
From BH we can only export the resume of the jobs in the csv format. If we want all the details we need to use the api which is going to take more time to use.
A simple solution is to ask the website if they can export the list of jobs in the JSON format. They manage to quickly the detail for one job so I don't think it will be to complicated to have the all list.

@iteles Can we ask if it is poss

[2016-02-29 11:32] iteles commented on #287
@nelsonic Would it be simpler to store these in AWS with the rest of our images and send through the link? This might imply a change on TOAD's end.

But I think it might be simpler if in the future GM want to build in functionality to re-use images for example.

[2016-02-29 11:34] iteles commented on #288
@SimonLab I get your second comment/question, but not so sure what you mean by the first. Do you mean you'd like an example of what is sent back to BH for candidates at the moment?

[2016-02-29 11:37] iteles commented on #292
@SimonLab The only thing I didn't find in the JSON object we were sent was the date (1st March in this case). Is that what you mean?

[2016-02-29 11:38] iteles commented on #293
@Adam-JF These fields will also be relevant to you when designing the interface

[2016-02-29 11:40] SimonLab commented on #288
@iteles Yes I was wondering what is the data send to BH when a candidate submit her data through the website.

[2016-02-29 11:41] iteles commented on #294
:+1: We'll have to run this one past Nick first as it may be cheaper for us to do it than for TOAD.

[2016-02-29 11:47] SimonLab commented on #292
@iteles the date is in a timestamp format unders the property startDate.
There are two views on the website:
- the list of jobs with
- the detail page for a specific job
I was wondering if the list of jobs is built from the same objects as for the detail view or if for example the json object for the list is more succinct and with other names for the properties

[2016-02-29 11:48] Adam-JF commented on #291
@iteles Best people to ask would be TOAD.

[2016-02-29 12:26] SimonLab opened #295 "Create Categories and skills list"
The jobs are can have some required skills. We need to create the skills list. The skills are sorted by categories so we first need to create he categories

[2016-02-29 14:32] Adam-JF commented on #258
Works well. Issue surrounded people not logging out and then back into the app after the update was pushed.

[2016-02-29 14:32] #258 closed

[2016-02-29 16:02] SimonLab opened #296 "Filters on jobs"
![filtersjob](https://cloud.githubusercontent.com/assets/6057298/13399932/69a8a958-defd-11e5-84b2-29d2c00f3c1f.png)

How do this filters are build? Are they build from the list of jobs retreive from BH or do we need to create them in Elasticsearch?

@iteles Can you ask if we need to send the data filters with our job endpoints or is the website build the filters from the jobs data?

[2016-02-29 16:43] SimonLab commented on #287
We have the confirmation from Laura that the images are uploaded into the website then the link of the image is just copy/past to the image url field in BH.
So we don't need to upload the pictures to AWS as this process is done manually with the wordpress interface.

[2016-02-29 16:49] iteles commented on #287
It makes sense for us to simplify this process where possible. Let's also keep that in mind.

[2016-02-29 17:20] SimonLab opened #297 "Countries, Business Sector and Owner endpoints"
As mentioned in #241 we need to create 3 other endpoints:

Additional requests:
Other than the job request, in order to render the page we're making two more:

Countries — we're making a request to fetch all the countries so that we can display the countryID as a string
Business sectors — these are needed for one of the filters. They include Fintech, Big data, eCommerce, etc.
Owners — we need to k

[2016-03-01 12:00] SimonLab commented on #286
Also I'm not sure if the the website define properly the accept property in the header request. So I think th e simple solution is to return a json format by default or if the optional format in the url we return this format (for now just html but in the future we could return yaml or other formats)

[2016-03-01 14:44] SimonLab commented on #286
We are using the access property in the header of the request to determine the format we need to return so html or json

[2016-03-01 15:55] iteles commented on #295
Time estimate please :)

[2016-03-02 09:33] Adam-JF opened #300 "Reset Dashboards"
I think it would be a good idea to reset the dashboards on the application to clear the out of date statuses and so we can start fresh with the notes feature on the app.

[2016-03-02 10:12] Adam-JF opened #301 "Status update links in emails"
As a consultant I would to have three links inside every email I send through the app which allows candidates to select whether they are 'Interested', 'not interested', or 'not currently looking'.

This information would then feed into the persons profile and change their status.

This information would also appear in three columns in the dashboard so consultants can see which people to get back i

[2016-03-02 10:14] Adam-JF opened #302 "Add expiration dates to statuses"
As a consultant I would like the app to recognise when someone's status has not been updated for a period of time and automatically remove them from the dashboard.

People will remain on the dashboard if they have been 'submitted' for a period of two weeks.

This gets increased every time the candidate progresses through the interview process.

[2016-03-02 10:16] Adam-JF opened #303 "Ability to upload CVs to profiles"
As a consultant I would like to be able to upload a .doc or PDF file to a candidates profile and be able to view it live on that page.

![screen shot 2016-03-02 at 10 15 52](https://cloud.githubusercontent.com/assets/15364186/13457380/d227cc3a-e05f-11e5-8c1a-ffe691a3bac3.png)

[2016-03-02 10:17] Adam-JF opened #304 "Ability to attach files to emails"
As a consultant I would like to be able to attach files to emails I send to candidates (specifications, interview details, company information)

[2016-03-02 10:20] Adam-JF opened #305 "Hot Lists"
As a consultant I would like the ability to segment people I search for in the app into dedicated lists related to job openings i'm working on.

For instance, if I was looking for a Java developer in Stuttgart then I would like to be able to place relevant candidates into this list who I can contact and/or monitor on the app in their own dedicated list.

[2016-03-02 10:21] Adam-JF opened #306 "App Candidate Addition Monitoring"
As a Director I would like the ability to monitor the increase in candidates on the app per day from each consultant.

[2016-03-02 10:23] Adam-JF opened #307 "Dashboard - Drag and Drop"
As a consultant I would like the dashboard to be more user friendly and as such would like the ability to progress candidates by dragging them from status to status.

For instance moving someone from 'submitted' to 'phone screen' by clicking and holding on their image on the dashboard and dragging them to next status - this would then automatically update their status on their profile.

[2016-03-02 10:27] Adam-JF opened #308 "Additional Statuses"
As a consultant I would like to have additional statuses on a candidate profile so I can indicate further stages of an interview process, like a technical test - and also be able to label people as being interested, not interested or not looking now - the final status (not looking right now) I would like to sync with my calendar so that I can get an alert to contact them after 3 months etc.

[2016-03-02 10:29] Adam-JF opened #309 "Tag as Contractor"
As a consultant I would like the ability to label people on the app as being a contract worker.

[2016-03-02 10:36] Adam-JF opened #310 "Contractor search enhancement"
As a consultant I would like to be able to search/segment candidates who are listed as being contractors on the app.

linked to #309

[2016-03-02 10:39] Adam-JF opened #311 "Search by Continent"
As a consultant I would like the ability to search for people on the app in a certain continent - for instance if I know a client has a preference for European candidates, I can search for 'Europe' in the location box and 'Java' in the skill box and find candidates who are listed as being in Germany, England, France etc.

(Feature suggestion by Henry from Global {M})

[2016-03-02 10:46] Adam-JF opened #312 "Jump to bottom/top of page"
We currently have a button which will jump to the bottom and top of the page in the app.

As an enhancement, we would like these arrows to follow us as we scroll so at any point we can jump to the top or bottom of the page.

(Feature enhancement - Nick, Global {M})

[2016-03-02 10:47] Adam-JF opened #313 "Add Terms of Business to client page"
As a consultant, I would like to be able to add the terms of business we send when on-boarding a new client to their client page.

[2016-03-02 11:28] Adam-JF opened #314 "Update Ciaran's Signature"
Ciaran's mobile number on his email signature should read 07500 665096

[2016-03-02 12:43] Adam-JF opened #315 "Add notification if email has been opened"
As a consultant I would like to be able to see if a candidate has opened an email I have sent through the application.

[2016-03-02 12:44] Adam-JF opened #316 "Viewing Sent Emails"
As a consultant I would like to be able to view on a part of the dashboard all of the emails I have sent through the app/the profiles I have contacted so I can monitor through the application if someone has responded or if I need to follow up etc.

[2016-03-02 12:46] Adam-JF opened #317 "View full email conversation"
As a consultant I would like to be able to view all of the email correspondence between myself and a candidate on the application - therefore the addition would be that I would like to be able to see when they reply to an email, through the application.

[2016-03-02 16:13] Adam-JF opened #319 "Being logged out when sending mass email"
Nick and Alex are finding that the app logs them out every time they try to send a mass email.

Their emails still send but they are redirected to the login page as soon as they hit send.

[2016-03-03 16:09] SimonLab commented on #297
done with #318

[2016-03-03 16:09] #297 closed

[2016-03-03 16:18] Adam-JF commented on #301
Google Forms can be accessed by going onto Google Drive - clicking on New on the left hand side, selecting 'more' from the drop down menu and then clicking 'Google Forms' from here you can create a survey.

Link to survey - https://docs.google.com/a/global-m.co.uk/forms/d/13QHpUUdhNqK_1Y-xJ_SxKQJ1LtgmvvOtHp45yzVzTdU/viewform

Embed HTML - <iframe src="https://docs.google.com/a/global-m.co.uk/forms

[2016-03-03 16:19] Adam-JF commented on #301
<iframe src="https://docs.google.com/a/global-m.co.uk/forms/d/13QHpUUdhNqK_1Y-xJ_SxKQJ1LtgmvvOtHp45yzVzTdU/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

[2016-03-03 16:20] Adam-JF commented on #301
```<iframe src="https://docs.google.com/a/global-m.co.uk/forms/d/13QHpUUdhNqK_1Y-xJ_SxKQJ1LtgmvvOtHp45yzVzTdU/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>```

[2016-03-03 16:32] SimonLab commented on #289
Every 1h a request is sent to the the /jobs/list endpoint to get all the jobs available. This list is saved on a file in the website side.

[2016-03-03 16:32] #289 closed

[2016-03-03 16:39] Adam-JF opened #320 "Add Journal Link to bottom of emails"
As part of the marketing team at Global {M} I would like to have the link to our blog/journal at the bottom of all the emails we send out to increase our exposure and drive more traffic towards the website.

(Laura - Global {M})

I have attempted to do HTML... (thought this might amuse you)

'''<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
	<a href="http://news.global-m.co.uk">

[2016-03-03 16:55] SimonLab commented on #288
The cv is send with a specific request in the payload as an base64 encoded string. Can we save this cv in Elasticsaerch

[2016-03-03 17:16] heron2014 commented on #286
We are populating countries, owners and business sectors to the form on endpoint /jobs/create from elasticsearch, form is improved with properties from toad and bullhorn.

To do list:

* [ ]  Add validation
* [ ]  Add date picker
* [ ] Double check if properties are the same
* [ ] Convert dates to timestamp
* [ ] Tests
* [ ] Check order of input fields to match the client preferred order

[2016-03-03 20:47] iteles commented on #301
@Adam-JF The danger I see here is that you are providing people with a way of opting out, but then not ensuring your team actually pays attention to that - i.e. the lack of a link to the application means people will still be _able_ to email candidates even though they should know through the form that they _shouldn't_.

I suspect that being emailed again when you've explicitly said you're not int

[2016-03-03 20:50] iteles commented on #311
Linked to https://github.com/FAC-GM/app/issues/190

[2016-03-03 20:52] iteles commented on #316
Implies #317 is a predecessor to this piece of work.

[2016-03-03 20:54] iteles commented on #320
:relaxed:

Also worth knowing whether this is part of the signature, sits separately and in both cases, where/how it should be positioned.

[2016-03-04 10:24] Adam-JF commented on #320
Centralised and below the email signature a few lines dropped down methinks :)

[2016-03-04 10:47] #314 closed

[2016-03-04 10:58] Adam-JF commented on #301
@iteles Totally understand your point.

My plan would be to take a note of the responses to the survey and then manually change people who have selected 'Not Interested' or 'Contact me in 3-6 months' and change their statuses in the app to 'Submitted to Not Interested' etc. which will blacklist them from mass mailing.

Just means I need to be 'on it' with my monitoring which I will be.

[2016-03-04 10:59] Adam-JF commented on #301
This is an example of what happens when I export the responses into a Google Sheet - from here I just need to sift through them and change the relevant statuses.

![screen shot 2016-03-04 at 10 58 58](https://cloud.githubusercontent.com/assets/15364186/13525317/2078ce04-e1f8-11e5-828e-4576cec08cb7.png)

[2016-03-04 11:56] SimonLab commented on #288
So we need to create a specific endpoint for the CVs: **/cv/create**. This endpoint will receive this format of payload:
[code]

- [ ] Create the endpoint and save the data  (except the fileContent) into ES ( to check what information we receive)
- [ ] Read documentation on Google on how to upload a file to Google Drive with the api and create a documentation for that
- [ ] Create a Hapi plugin to

[2016-03-04 12:36] Adam-JF commented on #315
@nelsonic I remember you demoed an early version of this feature to myself and Nick at one of our previous meetings - we currently use an app which works with our Gmail accounts and Alex inquired about adding this functionality for the app sometime soon?

[2016-03-04 12:40] Adam-JF commented on #300
This issue has been sorted for now by simply deleting profiles in the app which then removes them from the dashboard.

We are able to re-add the candidate to the database simply by visiting their profile again.

[2016-03-04 12:40] #300 closed

[2016-03-04 16:13] Adam-JF commented on #319
The fix from issue #212 works for a bit, however, the issue pops up again from time to time.

Will require more testing from the team - might be something to look into at the end of the sprint.

[2016-03-04 20:19] iteles commented on #300
:+1:

[2016-03-06 12:41] iteles commented on #314
@Adam-JF Was this done in the application?

[2016-03-06 12:47] iteles commented on #301
Understood. @Adam-JF Are you going ahead with implementing this solution then?

If so, let's add a label `manual solution` to make it obvious that this isn't actually in the application backlog as priority 1.

[2016-03-06 15:58] iteles commented on #320
Grand. Let's add a priority to this so we know whether to consider it for sprint 8/concurrent sprint 7 work or not.

[2016-03-07 09:21] Adam-JF commented on #320
It's not vital but if it's something that can be accomplished in an hour or so, I know Laura would really appreciate it and it would be helpful for the journal.

[2016-03-07 09:23] Adam-JF opened #322 "Emails are going to spam"
All of the consultants are finding that their emails are going to spam.

I did a check to see if the Global M domain was blacklisted after Henry mentioned one of his emails had gone to spam, I also separately checked his IP address and there was no issue - I did this on Friday, 4th March 2016.

It's of vital importance we look into this asap otherwise people are going to stop using the app.

[2016-03-07 09:25] nelsonic commented on #322
@Adam-JF how *many* emails did Henry send? :confused:

[2016-03-07 09:28] Adam-JF commented on #314
This was never an issue, Ciaran mis-read his number, it's all good :)

[2016-03-07 09:28] Adam-JF commented on #322
@nelsonic He sent 800 (ish) in total on Friday

[2016-03-07 09:32] Adam-JF commented on #322
According to the below link we should be able to send approximately 2000 without issue per day

https://support.google.com/a/answer/166852?hl=en

[2016-03-07 09:49] Adam-JF commented on #322
https://support.google.com/mail/bin/answer.py?hl=en&answer=69585

[2016-03-07 11:08] SimonLab commented on #322
@Adam-JF Have you try with your emails? Do you have the same problem? Also all the emails are going  to the spam folder? How do you manage to know when an email is in a spam folder?

[2016-03-07 11:21] SimonLab commented on #322
Some documentation to investigate:
- https://support.google.com/mail/answer/6227174

[2016-03-07 11:26] Adam-JF commented on #322
I've just spent about an hour on the phone to a guy at google support -

We've done some verifications on Go Daddy and he said that that will help us not to be listed as spam.

We're not on any blacklists and there aren't any notes on our account.

His explanation was that when we're sending lots of emails at the same time, if one person marks that as spam, some other people being sent the same me

[2016-03-07 11:26] Adam-JF commented on #322
When we send emails through the app - that all runs through Gmail right? Not a separate thing through the app?

[2016-03-07 11:27] SimonLab commented on #322
@Adam-JF yes we are using directly gmail to send the emails

[2016-03-07 11:51] Adam-JF commented on #322
@SimonLab It's hard to say because we only hear about it if someone spots it and emails us back.

[2016-03-07 11:52] Adam-JF commented on #322
Email correspondence from Google support guy after our conversation earlier.

Hello Adam,

Thanks for calling today, it was a pleasure speaking with you.

You explained that some of your messages are reported by the recipients to land in the spam folder.

Like we discussed the reason that messages are marked as spam can be due to literally 1000 different reasons. If the users reported this happeni

[2016-03-07 12:01] nelsonic commented on #322
@Adam-JF yes, the number of emails a given account can send via Gmail is 2000 per day.
However if the *content* of the email is not perceived as relevant by the recipients and enough of them mark the email as "*Junk*" or "*Spam*" the sender will *quickly* be placed on the (*recipients*) email provider naughty list. pretty much as the Google Support guy has explained...

[2016-03-07 12:21] Adam-JF commented on #322
Understood. What would you recommendation going forward be?

I've told the guys to get anyone who found our messages in their spam to unmark them, but apart from that - would limiting the number we send at a time help?

[2016-03-07 13:11] nelsonic commented on #322
Quality over Quantity.
Unless the people have *opted* in to receiving a message from you, they will *usually* consider it to be spam. Developers are *especially* quick to mark messages as spam because they get a *lot* of unsolicited email...
The best approach is still to start a *genuine* conversation with the prospective candidate.
This *can* be done through email, but sending email where the per

[2016-03-07 13:26] nelsonic commented on #322
@Adam-JF is there a *Handbook* that everyone @GM reads when they join?

And/or do you have a recommended reading list? e.g:
+ http://www.amazon.co.uk/The-Ultimate-Sales-Machine-Turbocharge/dp/1591842158
+ http://www.amazon.co.uk/The-Sales-Acceleration-Formula-Technology/dp/1119047072
+ http://www.amazon.com/Predictable-Revenue-Business-Practices-Salesforce-com/dp/0984380213/

I know you guys are a

[2016-03-07 13:33] iteles commented on #322
Linked to the implementation of #301 !

[2016-03-07 13:53] Adam-JF opened #323 "Switching from Heroku to AWS for storage"
@nelsonic We discussed moving to AWS for our future storage needs for the app - i've had a look through the different tiers but i'm not totally sure about which one would suit our needs best.

Did you have any thoughts on which package we would need?

Thanks in advance.

[2016-03-07 13:56] SimonLab commented on #288
We can use the google client to upload a file: https://github.com/google/google-api-nodejs-client#media-uploads

[2016-03-07 13:58] nelsonic commented on #322
@iteles agree 100%. if we don't give people a way to communicate their interest/disinterest with buttons they can use to un-subscribe then they will *inevitably* reach for the "*Report Spam*" button ...
![gmail-report-spam](https://cloud.githubusercontent.com/assets/194400/13571371/6a1f3bbc-e46c-11e5-8e15-37546688eee2.png)

[2016-03-07 14:37] Adam-JF commented on #301
@iteles I can only implement this solution if the google forms is integrated with the emails we're sending through the app - i'm hoping this will just be a case of adding the 'embed HTML' link into the emails we send through the app, but i'll need this to be done on the back end - @heron2014 @SimonLab is this something you can could add in at the end of the day so I can test it tonight?

[2016-03-07 16:23] iteles commented on #301
@Adam-JF Suggested steps for you to take on this:
1. In Google Slides (easiest collaboration tool for the future), put together your thoughts on how you want this to look - if it is to look like you suggest at the [beginning of this issues](https://github.com/FAC-GM/app/issues/301#issue-137831054), it doesn't actually look like this will be in the signature, but rather will be something implemente

[2016-03-07 16:34] Adam-JF commented on #301
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Thoughts?</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<b

[2016-03-08 11:36] SimonLab opened #325 "next is not defined inside the handler"
[next](https://github.com/FAC-GM/app/blob/f1202cae3cc34e8addb4b2e68dfeda51128f08ef/lib/handlers/cv/post_create.js#L36) is not defined when we create the handlers in separate files.
Should we pass next in the list of the parameters?

[2016-03-08 11:56] heron2014 opened #326 "Create endpoint for clients"
API for clients (following the design api for our jobs - for the consistency [jobs api](https://github.com/FAC-GM/app/issues/286#issue-136729726) ):
* [x] GET /clients/list -returns a list of all clients
* [x] GET /clients/:id -returns a client with the given id
* [x] GET /clients/edit/{id} - return an edit client page
* [x] GET /clients/create  - return a link to create a client page
* [x] POST /

[2016-03-08 12:06] SimonLab commented on #325
Error in the handlers must be manage with a method other than passing the error to next. Can we use [Boom](https://github.com/hapijs/boom)?

From the Hapi documentation:

"next is a method to be called when your plugin has completed whatever steps are necessary for it to be registered. This method accepts only one parameter, err, that should only be defined if an error occurred while registering y

[2016-03-08 14:07] Adam-JF opened #327 "Dashboards aren't updating"
Myself and Luke have found that our dashboards are not updating when we submit candidates for different interview stages, they are not appearing in our dashboards.

[2016-03-08 14:10] SimonLab commented on #327
Sometimes our database take a few seconds to index the new data. @Adam-JF do you still have this problem if you wait a bit and refresh the page?

[2016-03-08 14:13] Adam-JF opened #328 "Manually remove candidates from dashboard"
As a consultant I want to be able to remove candidates who are no longer in the process from my dashboard without having to delete that person's profile entirely.

[2016-03-08 14:20] Adam-JF commented on #327
Unfortunately yes - i'll have a look at the logs and see if there's some kind of error and get back to you.

[2016-03-08 14:23] Adam-JF commented on #327
Doesn't look like theres an error - the dashboards aren't updating, but the profiles register the changed status.

[2016-03-08 14:28] SimonLab commented on #327
Ok thanks, it might just be a typo error in your email or name in the environment variables, I will have a look.

[2016-03-08 16:02] heron2014 commented on #326
Real time update? How to make updates automatic without need to refresh the page?

- [https://www.elastic.co/guide/en/elasticsearch/guide/current/near-real-time.html](https://www.elastic.co/guide/en/elasticsearch/guide/current/near-real-time.html)

[2016-03-08 16:40] SimonLab commented on #327
@Adam-JF can you give an id of a candidate who doesn't appear on your dashboard, thanks.

[2016-03-08 17:24] Adam-JF commented on #327
Marc Liddell - Placement Status - https://www.linkedin.com/in/marc-liddell-a577a618 - Kibana ID - AVLHBbpRi_HarVsEEsoX
Ruben De Graaf - Interview Status -  https://www.linkedin.com/in/newneon - Kibana ID - AVMNUC8wi_HarVsEE7sb

Both submitted by myself.

[2016-03-09 10:14] Adam-JF opened #329 "Integrate with Streak APIs"
As a member of Global {M} I would like to know the viability of integrating elements of the Streak app's API or alternatively building our own similar tools and features.

Emails, response rate etc.

https://www.streak.com/api/

[2016-03-09 11:49] heron2014 commented on #293
Related to issue #286

[2016-03-09 12:26] SimonLab commented on #288
The cv is send as a base64 encoded string to the cv endpoint, so we are receiving something like:

JVBERi0xLjUNCiW1tbW1DQoxIDAgb2JqDQo8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMiAwIFIvTGFu\r\nZyhlbi1VUykgL1N0cnVjdFRyZWVSb290IDEwIDAgU...

At the moment we are saving this string into Elasticsearch. The base64 contains some \r which break the decoded function. Either the payload is not properly passed or Elastics

[2016-03-09 13:16] SimonLab commented on #287
For this first version we are going to keep the same manual way of uploading the pictures. We need to check if an automatic way to do this is required.

[2016-03-09 13:16] #287 closed

[2016-03-09 13:21] heron2014 commented on #326
@Adam-JF can you please confirm:

- when you create a new client , do you assign new client to the person who created it? (do clients has owners?)

- currently we have one input field for the name of the new client, do you need any more input fields?

[2016-03-09 13:26] SimonLab opened #330 "Upload cv to Google Drive"
Linked to #288

We are going to save the CVs into Google Drive.
At the moment we are testing the following features
- [x] Receive a base64 encoded string which represent the cv. It can be a pdf, doc or in any other formats
- [x] Convert the base63 to a binary file
- [x] Upload the file to Google Drive
- [x] Create a link to download/preview the document
- [x] Create tests for uploading a file, use

[2016-03-09 13:28] SimonLab commented on #296
The filters are created from the list of jobs, so from the response of the /jobs/list api. Only the sectors are created on the website (hard-coded). At the moment we don't need to create a specific endpoint for the sectors and we use the current implementation

[2016-03-09 13:28] #296 closed

[2016-03-09 13:30] SimonLab commented on #295
The skills have been created into the database from the file json object given by the website

[2016-03-09 13:30] #295 closed

[2016-03-09 13:32] SimonLab commented on #294
The website gave us the list of jobs

[2016-03-09 13:32] #294 closed

[2016-03-09 13:33] SimonLab commented on #293
We have all the mapping from the example of the json object

[2016-03-09 13:33] #293 closed

[2016-03-09 13:34] SimonLab commented on #290
The website confirmed that the description is in html.

[2016-03-09 13:34] #290 closed

[2016-03-09 13:34] heron2014 opened #331 "Interface for clients"
Design an interface for clients which will include:

* [x] - link/button from home page or any page to clients page
* [x] - clients page where we list all of the clients
* [x] - when clicked on specific client, redirection
* [x] - on clients list page, button/link to redirect to the Create Client Page or place  the form for creating new client on the same page
* [x] - update/create form for updati

[2016-03-09 13:36] heron2014 commented on #331
@Adam-JF could you please attach some wirerames how you would like to see this feature?

[2016-03-09 13:38] SimonLab commented on #292
The website use only one api /jobs/list which give all the information.

[2016-03-09 13:38] #292 closed

[2016-03-09 13:41] heron2014 opened #332 "Interface for jobs"
Design an interface for jobs which will include:

* [x] - link/button from home page or any page to jobs page
* [x] - jobs page where we list all of the jobs
* [x] - when clicked on specific jobs, redirection to detailed view job page
* [x] - on jobs list page, button/link for creating new job which will redirect to create new job page
* [x] - create new job page - form with all input fields, rela

[2016-03-09 13:43] heron2014 commented on #332
@Adam-JF could you please attach some wirerames how you would like to see this feature?

[2016-03-09 13:44] SimonLab opened #333 "Technical documentation for jobs"
Describe the links between BH and the website and how the application replace BH.

[2016-03-09 13:45] SimonLab commented on #241
The process need to be added in the documentation. see #333

[2016-03-09 13:45] #241 closed

[2016-03-09 13:46] SimonLab commented on #291
TOAD confirmed that the jobs are the only links between BH and the website

[2016-03-09 13:46] #291 closed

[2016-03-09 13:49] heron2014 opened #334 "Update candidate interface"
Add link or button to each candidate who added their cv via Website which will be redirected to Google Drive

Related to #330

[2016-03-09 16:44] Adam-JF commented on #326
@heron2014
Yes, when there's a new client at the moment whoever uploaded it onto Bullhorn 'owns' the client.
Where are these input fields?
We need to be able to assign these clients to different consultants, this is with the view to eventually having a client portion of the dashboard where we can each see the clients we own.

[2016-03-09 17:04] heron2014 commented on #326
@Adam-JF ok thanks. We will create a drop down which will include all the names (user picks who is the owner)

[2016-03-09 17:21] iteles commented on #326
@Adam-JF @heron2014 This feeds into the conversation around having updated UI designs. They should answer these questions before we end up having to rework code to retrofit things in.

[2016-03-09 17:40] heron2014 opened #336 "Add owners to the clients"
Related to this [comment](https://github.com/FAC-GM/app/issues/326#issuecomment-194389767)
also related to [issue 331](https://github.com/FAC-GM/app/issues/331)

[2016-03-09 18:55] iteles commented on #333
:+1:

[2016-03-09 21:43] iteles commented on #329
This requirement will need to be fleshed out further before we can take any action on researching it :+1:

[2016-03-10 15:27] Adam-JF commented on #331
![screen shot 2016-03-10 at 15 26 31](https://cloud.githubusercontent.com/assets/15364186/13674203/8635b3f2-e6d4-11e5-8988-cfd9c89c958c.png)
![screen shot 2016-03-10 at 15 26 22](https://cloud.githubusercontent.com/assets/15364186/13674202/86345598-e6d4-11e5-895f-2ef264483a06.png)
![screen shot 2016-03-10 at 15 26 15](https://cloud.githubusercontent.com/assets/15364186/13674200/862d983e-e6d4-11e5-

[2016-03-10 15:27] Adam-JF commented on #331
![screen shot 2016-03-10 at 15 26 03](https://cloud.githubusercontent.com/assets/15364186/13674225/94a85d86-e6d4-11e5-90b5-d1c81c538aba.png)
![screen shot 2016-03-10 at 15 26 15](https://cloud.githubusercontent.com/assets/15364186/13674230/96653220-e6d4-11e5-9f8b-437b854af23b.png)
![screen shot 2016-03-10 at 15 26 15](https://cloud.githubusercontent.com/assets/15364186/13674238/9d1b2872-e6d4-11e5-

[2016-03-11 00:08] iteles commented on #331
Note @heron2014 Please don't consider this the final designs as the integration of #332 may still affect this (particularly the jobs list addition to navigation, which is becoming very unwieldy)

[2016-03-11 11:43] heron2014 commented on #331
@iteles @Adam-JF We created the basic wireframes for client interface which look like this:

![client-list](https://cloud.githubusercontent.com/assets/8476884/13701166/e17e4b12-e77d-11e5-8a55-c169149f51fd.png)

And the following view is for saving new client or updating new client.

![create-client](https://cloud.githubusercontent.com/assets/8476884/13701179/f70aba42-e77d-11e5-8d5f-1b0a31f4918f.pn

[2016-03-11 11:48] SimonLab opened #337 "Merge candidates created from the website"
When a candidate apply through the website we need to merge this candidate the one in the application if it exists.
For that every candidate created with the website must have a LI url.

[2016-03-11 12:08] SimonLab opened #338 "Define the database structure of the clients"
At the moment we save the client as:

[code]

But now we need to add more information to the client:

[code]

With this new structure we need to change the way we [blacklist](https://github.com/FAC-GM/app/blob/f1202cae3cc34e8addb4b2e68dfeda51128f08ef/lib/helpers/get_clients_list.js#L28) a contact link to a client

[2016-03-11 12:09] heron2014 commented on #326
Re factoring clients endpoints to include new database structure, related to #338

[2016-03-12 20:56] iteles commented on #288
TOAD have confirmed that they can remove the special characters and will test this early next week.

[2016-03-14 09:23] Adam-JF commented on #331
@heron2014 Yes, active roles are the current job openings for the company.

[2016-03-14 09:27] Adam-JF commented on #319
Consultants are still being logged out when sending 'mass emails' - this constitutes approximately 5 emails or more being sent - (note: even when it does log you out the emails still send)

Below that figure and everything works fine - any idea why this redirect is happening?

[2016-03-14 10:48] SimonLab commented on #319
@Adam-JF Can you please confirm that finishing the Bullhorn substitution work is a higher priority than this for this week?

[2016-03-14 11:05] Adam-JF commented on #319
@SimonLab The Bullhorn work is still the priority, but this is something that needs to be fixed asap once that work is completed.

[2016-03-14 11:13] SimonLab opened #340 "Image profile for candidates from the website"
For new candidate we need to add a specific profile image. At the moment we are retreive the profile image from a specific external url. We have two solutions:

- Upload a specific image to a cloud service to create a url and then use this url.
- Create an image and store it on the app and use the path to this image: /assets/img/profileImageWebsite.png

[2016-03-14 11:30] SimonLab commented on #337
The post endpoint /candidates/create receive the following payload:
[code]

We need to confirm JobId and linkedInURL property names and values.

However from this information we need to create/update a candidate in the database.
When we receive these data
- [ ] Create an empty candidate object (create all the properties from and add the default values, the image url should be the image from #340
-

[2016-03-14 11:32] SimonLab commented on #288
This issue is now split into two sub issue #337 and #330

[2016-03-14 11:32] #288 closed

[2016-03-14 11:58] SimonLab commented on #340
First version:
![ghost_person_150x150_v1](https://cloud.githubusercontent.com/assets/6057298/13743829/14a1c6d0-e9dc-11e5-8429-5ab5603c1002.png)

[2016-03-14 12:39] SimonLab commented on #340
We are saving the image profile on the assets/img folder and we are defining the picture profile of the candidate with the same path

[2016-03-14 12:47] SimonLab commented on #337
We need some validation on the url. It can be an empty string or a non valid url. So we need to create a validation on this property (is http://linkedin.com exists?)

[2016-03-14 13:24] iteles commented on #340
@Adam-JF Please see above - the proposition is that we have the above default image for any candidates we get from the website which are not already in the system. This should immediately explain why these profiles are so sparse.

[2016-03-14 13:55] SimonLab commented on #337
When we update a profile (ie a url has been found in our database) we can update all the following values
[code]
However we can have some edge cases. For example the names enter on the website and the name we have in the database can be different (accent, middle name added, nickname). Some user can also enter a url from a different profile with some wrong data (wrong data, wrong email...). @Adam-J

[2016-03-14 14:19] Adam-JF commented on #340
@iteles Were we not looking to add a field to the website applications/sign ups which would request their LinkedIn profile to be put in?

If we have this information will the profiles populate as expected with the images etc?

Personally, I don't think it's the most aesthetically pleasing image ever - perhaps using our 'M' logo would be better.

[2016-03-14 14:42] iteles commented on #340
@Adam-JF The information that the candidate inputs into the form (name, email, URL) will be populated into the application, but as you know, the application doesn't automatically bring in additional information from LinkedIn.

Very happy to have the {M} logo instead if this is preferred.

[2016-03-14 16:12] SimonLab opened #341 "Display website applications information"
As a user I want to see the applications data for a specific candidate

[2016-03-14 17:10] SimonLab commented on #337
At the moment if a LI url is found in the database we are updating the candidate with the contact infomrmation (phone, email) and with the information of the application (jobID, timestamp, skillset and comments)

[2016-03-14 17:12] heron2014 commented on #337
Things to do :
* [ ] add validation to the url field
* [ ] test
* [ ] improve UI to display attached job to the candidate

[2016-03-14 17:40] SimonLab commented on #340
New version: ![website-candidate](https://cloud.githubusercontent.com/assets/6057298/13753668/c9dd8690-ea0b-11e5-8c22-adb598ee27da.png)

[2016-03-14 20:59] iteles commented on #341
UI required from @Adam-JF on how to link the job to the candidate profile.

[2016-03-15 17:12] SimonLab commented on #330
We have tested that we could upload a cv to a share folder and it works. We are still checking the Google  tokens validity on a long term. From the google documentation the token should be automatically refresh but it seems that some issues have been noticed: https://github.com/google/google-auth-library-nodejs/issues/67

Moreover the library hasn't been updated for a while and the build are faili

[2016-03-15 17:14] SimonLab commented on #330
see also [this file](https://github.com/google/google-api-nodejs-client/blob/master/lib/auth/oauth2client.js).
Explain that google-api-nodejs-client is using google-auth-library-nodejs

[2016-03-16 10:41] Adam-JF commented on #340
@SimonLab - Much better 👌

[2016-03-16 10:44] Adam-JF opened #342 "Adding New Consultants (users) to the App"
As a Director of Global {M} I would like to be able to add new consultants (users) to the app easily and efficiently.

What are the steps I would need to take to add a new consultant email address to the app (eg. x@global-m.co.uk), allow them permission to access it including a download link for the scraping tool and include the functionality so that their initials are recorded next to the candida

[2016-03-16 10:47] Adam-JF opened #343 "Upload Terms of Business (Google Drive)"
As a consultant I want to be able to easily find our terms of business with a client by going onto their profile.

Just as we are going to be including a link to a candidates CV in Google Drive, would it be possible to add a similar link on client pages where we can click through to access our Terms of Business with that client from their profile?

Linked to #330

[2016-03-16 12:04] iteles commented on #342
Currently this needs to be done in the code and is part of our documentation. However, we can make the documentation a little more step-by-step for this particular purpose.

[2016-03-16 14:33] SimonLab commented on #330
By looking at the code of the [google api nodejs client](https://github.com/google/google-api-nodejs-client) and by adding some log, it seems that the tokens are refresh automatically.

[2016-03-16 17:56] heron2014 commented on #337
Display information regards the job on candidate view when candidate is applying for specific job.

[2016-03-17 11:54] SimonLab opened #345 "What is the capacity of Google Drive"
If we are uploading the file to Google Drive we need to be sure that there will be always enough space. What is the current free space of the Google Drive?

[2016-03-17 12:03] nelsonic commented on #345
Standard Google Apps for Work is **30GB** of storage: https://apps.google.com/pricing.html
If a standard CV is around 100kb (*its less I'm being conservative*)
Then you can fit **300,000 CVs** in 30GB of Google Drive Storage.
see: http://www.wolframalpha.com/input/?i=how+many+100kb+files+30gb

[2016-03-17 12:13] SimonLab commented on #345
:+1:
It should be enough!

[2016-03-17 12:13] #345 closed

[2016-03-17 18:34] heron2014 commented on #332
@Adam-JF this is a screenshot with following input fields from BH (create a job fields)
![job-form](https://cloud.githubusercontent.com/assets/8476884/13856745/900b19c2-ec6e-11e5-9bad-66d0e81fd3b7.png)
![job-form2](https://cloud.githubusercontent.com/assets/8476884/13856751/97157dac-ec6e-11e5-967a-7a46312dc8c0.png)

[2016-03-18 08:24] Adam-JF opened #348 "Integrate Instant Messenger"
As a member of Global {M} I would like a quick and easy way of communicating with the team whilst inside the app.

An integration of Slack or a similar messenger would be ideal.

[2016-03-18 11:25] SimonLab opened #349 "Add property jobs to the client structure"
We need to get a link between the clients and the jobs. So we need to add a property jobs to each client which is an array of ids of jobs
[code]

[2016-03-18 11:36] iteles commented on #349
Technical task?

[2016-03-18 11:47] SimonLab opened #350 "Add a property active/inactive to the job object"
When a job is "deleted" (or inactive) we need also to delete the id in the client.jobs value

[2016-03-18 11:54] iteles commented on #350
Are you deleting the link or deactivating it? What happens if he job becomes active again (eg candidate backs out and the search has to start again)? How is the job linked back up to the client?

[2016-03-18 12:00] SimonLab commented on #350
Yes I don't think we should delete the job, we should have an active, inactive property like with the client object. And when the website request the list of jobs we should only return the active jobs. Concerning the list of Ids in the client we are not going to delete them we will only display on the view of the client if the job is active or not.

[2016-03-18 13:16] SimonLab commented on #319
We might need to extract the [gmail authentication](https://github.com/FAC-GM/app/blob/76990076485c740578f4e2be4c41228dab686b51/lib/helpers/sendemail_gmail.js#L28) outside of the send email helper to avoid doing this process for each email sent.

[2016-03-18 13:32] SimonLab commented on #341
First version:
![applicationjob](https://cloud.githubusercontent.com/assets/6057298/13879159/d47339a6-ed0d-11e5-8b28-d72c349d5efe.png)

[2016-03-18 13:34] SimonLab commented on #340
The image is saved in assets/img/website-candidate.png

[2016-03-18 13:34] #340 closed

[2016-03-18 13:36] iteles commented on #341
@Adam-JF Still need the updated UI from you on this please :relaxed:

[2016-03-18 13:36] SimonLab commented on #338
We need to add the Ids of the jobs link to this client see #349

[2016-03-18 14:40] Adam-JF commented on #332
Interface for job uploads:

Client, Team, Owner, Contract/Permanent = Drop Down Menus
Country, City, Salary/Day Rate = Manual Input

Everything else - manual input.

![screen shot 2016-03-18 at 14 29 36](https://cloud.githubusercontent.com/assets/15364186/13880845/2b4aebd6-ed16-11e5-91ef-449d85b741a5.png)

[2016-03-18 14:46] Adam-JF commented on #332
![screen shot 2016-03-18 at 14 45 34](https://cloud.githubusercontent.com/assets/15364186/13881270/20237c9e-ed18-11e5-96cc-d56a5bb31d3d.png)

[2016-03-18 15:04] Adam-JF commented on #332
Thats the main information we'd like displayed on the jobs list view - the initials on the right hand side are for the job owner, similar to what we have for connections.

![screen shot 2016-03-18 at 15 03 06](https://cloud.githubusercontent.com/assets/15364186/13881832/93bbff08-ed1a-11e5-8008-07885b46cfee.png)

[2016-03-18 15:33] Adam-JF commented on #332
Detailed Job View
Open/Close Job - Toggle, not delete.
Candidate Submissions Tracking - if possible this Sprint

![Uploading Screen Shot 2016-03-18 at 15.32.07.png…]()

[2016-03-18 15:34] Adam-JF commented on #332
Detailed Job View

Open/Close Job - Toggle not delete
Candidate Submissions - Profile images of submitted candidates

![screen shot 2016-03-18 at 15 32 07](https://cloud.githubusercontent.com/assets/15364186/13882769/cd6dc6a6-ed1e-11e5-9208-2495d119cfe8.png)

[2016-03-18 16:37] iteles commented on #332
@Adam-JF Thanks for this. Some comments below.

**Individual job creation view:**
+ Should country, city and day rate be drop downs? I'm not sure I see the logic for having day rate be a preset list for this field
+ What is the team?

**Job list:** Displaying the initials and the required skills in the way you are proposing is not 'basic' and will require some further logic - we may find a simpler

[2016-03-18 16:52] Adam-JF commented on #332
@iteles

**Individual job creation view:**
Day rate, Country and City are manual input - as in we'd type in the City Name, Country and Salary/Day Rate - thought this would save time so we didn't need to input currency differences or have to save a huge list of countries so that it would autofill.

**Job List**
Ok sounds great - with regards to the skills displaying, I mean it just displays the tex

[2016-03-21 12:02] SimonLab commented on #349
Done with a helper.

[2016-03-21 12:09] SimonLab commented on #349
Maybe the structure is not the right one:

Instead of having a list of IDs job inside the Client object:

[code]

Should we only have the id of the Client in each Job object? Is there a good practice for this situation, @iteles @heron2014 @nelsonic do you have any recommendations?

[2016-03-21 20:46] iteles commented on #349
@simonlab In this case it's a question of thinking about how we need to display the data and what the most efficient strategy is for retrieving it. Let's discuss in the morning.

[2016-03-22 11:20] heron2014 opened #351 "Skills on jobs display issue"
![requireskills](https://cloud.githubusercontent.com/assets/8476884/13949948/fc180eae-f01f-11e5-9c03-904450f3ab4a.png)

[2016-03-22 11:48] #322 closed

[2016-03-22 14:06] Adam-JF commented on #331
Client Icon - <i class="fa fa-briefcase"></i>
Jobs Icon - <i class="fa fa-tasks"></i>

[2016-03-22 14:15] SimonLab opened #352 "Add logo field for client"
- [x] Update the current client objects with the new property **logoUrl**
- [x] Add a text field on the client form to add a logo. The field will contain the url of the logo
- [x]  Save the new data logoUrl into Elasticsaerch
- [x] Display the image on the client page and list of clients if the logoUrl is not empty

[2016-03-22 16:13] heron2014 commented on #332
Populate client to the related job

[2016-03-23 10:14] Adam-JF opened #353 "Client Employee - BUG"
I don't wish to cause alarm but I just added onefinestay as a client on the app and when I returned to the homepage every profile is now listed as a 'Client Employee'...

Help.

[2016-03-23 10:18] heron2014 commented on #353
thanks @Adam-JF. We are on it.

[2016-03-23 10:28] SimonLab commented on #353
@Adam-JF we find the solution the new version of the app will be online as soon as possible

[2016-03-23 10:32] Adam-JF commented on #353
@SimonLab @heron2014 Great work - thanks guys.

[2016-03-23 10:50] SimonLab commented on #353
@Adam-JF I just reset the database for the clients to the previous state so you shouldn't see anymore all the contacts as "company clients". However @nelsonic is going to review the patch for the bug and publish the new version vert soon but during this time could you avoid updating/creating new clients as it going to recreate the bug. I let you know when the new version is online. Thanks

[2016-03-23 10:59] heron2014 commented on #331
thanks @Adam-JF

[2016-03-23 11:02] Adam-JF opened #355 "Client Owners - Addition"
Fritjof's name is not included as an option for a client owner on the edit client profile.

[2016-03-23 11:03] nelsonic commented on #353
Merged.

[2016-03-23 11:04] Adam-JF commented on #353
Dreadful timing that I just updated all of the client owners then 👀

Haha - woops. I will hold fire on doing it again until you let me know.

[2016-03-23 11:14] SimonLab commented on #353
@Adam-JF it should be ok now, sorry for your updates. Can you please check when you update just one client to see if everything is ok. If it's fine you can update the rest of the list

[2016-03-23 12:13] SimonLab commented on #355
The client owner is now updated with the new name.

[2016-03-23 12:17] Adam-JF commented on #355
Fixed - thanks.

[2016-03-23 12:18] #355 closed

[2016-03-23 12:20] Adam-JF commented on #353
Re-rested this:
- Changed a client owner
- Re-uploaded 'onefinestay' as a client

No longer had the issue.

Thank you for fixing this so promptly - will continue to test the client features.

[2016-03-23 12:20] #353 closed

[2016-03-23 12:23] SimonLab commented on #352
@Adam-JF do you want a default image if the url of the logo is not defined yet? If yes which image/logo?

[2016-03-24 07:53] SimonLab commented on #349
We are keeping the current version: the list of the ids job in the client object

[2016-03-24 07:53] #349 closed

[2016-03-24 07:56] SimonLab commented on #338
done with #339 and #357

[2016-03-24 07:56] #338 closed

[2016-03-24 07:57] SimonLab commented on #334
done with #347

[2016-03-24 07:58] SimonLab commented on #326
done with #337

[2016-03-24 07:58] #326 closed

[2016-03-24 08:12] Adam-JF commented on #352
Working great - did some tests this morning, changed a few logos - all seems to be working well.

[2016-03-24 11:12] SimonLab opened #358 "Reset the LI url"
If a candidate apply with a wrong LI url we need to keep the LI url empty instead of 'https://www.' otherwise all candidates with this URL will be merged together.

[2016-03-24 11:24] SimonLab opened #359 "Display application on specific job"
The skill set is not defined when a candidate apply for a specific job so we shouldn't display it. We also need to display the job title with a link to it

![specificjob](https://cloud.githubusercontent.com/assets/6057298/14015689/d71b4960-f1b2-11e5-9dd7-e006945f374e.png)

[code]

[2016-03-24 11:44] iteles commented on #352
@Adam-JF Feel free to close this issue when you're satisfied it's working :smile:

[2016-03-24 12:25] iteles commented on #359
Agreed!

[2016-03-24 12:35] SimonLab commented on #352
@Adam-JF I don't see any new logo on the list, did you put back the default images?

[2016-03-24 15:17] Adam-JF opened #360 "Client Logos"
Henry:

![kayak-app-logo](https://cloud.githubusercontent.com/assets/15364186/14020639/f1480838-f1cf-11e5-84bb-2efc310d6055.png)

![ptpr01om](https://cloud.githubusercontent.com/assets/15364186/14020826/b703c0c6-f1d0-11e5-976c-9579a9bc8236.png)

![network_locum_logo](https://cloud.githubusercontent.com/assets/15364186/14020885/fee8d566-f1d0-11e5-9ea8-f616a35297ff.jpg)

![5 5942_fb-og-logo-flag](ht

[2016-03-24 15:19] Adam-JF commented on #352
Tested - working great.

![screen shot 2016-03-24 at 15 17 38](https://cloud.githubusercontent.com/assets/15364186/14021513/b36c876a-f1d3-11e5-9414-35f0fc0f6a78.png)

[2016-03-24 15:19] #352 closed

[2016-03-24 15:54] SimonLab commented on #352
:+1:

[2016-03-24 16:19] Adam-JF commented on #360
Nick

![l5xy3j_r](https://cloud.githubusercontent.com/assets/15364186/14021572/f14943a2-f1d3-11e5-8679-68c5e4393f46.jpg)

![mandara-energy-squarelogo-1451468935159](https://cloud.githubusercontent.com/assets/15364186/14021917/6236fd1a-f1d5-11e5-8969-5a9253321d10.png)

![source-capital-squarelogo-1448612903916](https://cloud.githubusercontent.com/assets/15364186/14021978/9cf3a6a6-f1d5-11e5-80a3-b37

[2016-03-24 16:22] Adam-JF commented on #341
How do I test this?

[2016-03-24 16:28] SimonLab commented on #341
@Adam-JF I'm doing some modification but I can already have a preview if you go to my profile on the app

[2016-03-24 16:36] Adam-JF commented on #360
![liquid-capital-squarelogo-1399558948768](https://cloud.githubusercontent.com/assets/15364186/14023688/682cf762-f1dd-11e5-8cf6-90640f490ba5.png)

[2016-03-28 17:49] SimonLab commented on #358
The url is now a required field so the url can't be empty.

[2016-03-28 17:49] #358 closed

[2016-03-28 17:52] SimonLab commented on #359
resolve with #361 see also #341

[2016-03-28 17:52] #359 closed

[2016-03-28 19:39] SimonLab opened #363 "job description"
the job description is saved as an html string. The website using this description property and value to display directly the data.
Bullhorn is using WYSIWYG to create the content of the description so in order to keep the same interface for the users we choose to use tinymce.

[2016-03-29 07:08] SimonLab opened #364 "clean require('env2')('.env')"
we only need to call once require('env2')('.env'). see [comment](https://github.com/FAC-GM/app/pull/362#discussion_r57634900)

[2016-03-29 07:55] Adam-JF commented on #360
![tumblr_static_376he2pjvmg4w4c8wk4wkoc0w](https://cloud.githubusercontent.com/assets/15364186/14101132/393f8b1c-f58a-11e5-9d76-1c8864660b9f.jpg)

![1836a8657362e3ea755a386dfcf88ad1](https://cloud.githubusercontent.com/assets/15364186/14100659/fe13083c-f586-11e5-853f-470cc6400cb6.png)

![ue8t_tqf_400x400](https://cloud.githubusercontent.com/assets/15364186/14100687/2fc72bf6-f587-11e5-975e-5a2c37c9

[2016-03-29 10:15] SimonLab commented on #286
all the endpoints are ready with #362

[2016-03-29 10:15] #286 closed

[2016-03-29 11:16] Adam-JF commented on #360
![aaeaaqaaaaaaaaolaaaajdiyywizmtzjlwmzyzatngrmos04njm3ltjimdc5y2mymzc1mq](https://cloud.githubusercontent.com/assets/15364186/14105789/9866bb54-f5a5-11e5-905d-cb44a936c72a.png)

![app_annie](https://cloud.githubusercontent.com/assets/15364186/14105837/ebd2d4c6-f5a5-11e5-8c4d-2c4acb5aefc4.png)

![379727-00987219ef17d922a8390f54ed230095-medium_jpg](https://cloud.githubusercontent.com/assets/15364186

[2016-03-29 12:49] Adam-JF commented on #360
![jbeqgyfm_400x400](https://cloud.githubusercontent.com/assets/15364186/14107749/cd3b3628-f5b1-11e5-836e-8a8909199653.jpeg)

![1001ea146455cfae6617604b69a2d521_400x400](https://cloud.githubusercontent.com/assets/15364186/14107778/f1225760-f5b1-11e5-863b-13f0aedf894a.jpeg)

![redline_trading_solutions_logo](https://cloud.githubusercontent.com/assets/15364186/14107944/c76c8d7c-f5b2-11e5-850f-79ea1d6

[2016-03-29 13:16] heron2014 opened #367 "display candidates on a client detailed page"
As a user I want to see all the candidates related to the specific client on that particular client page.

[2016-03-29 13:17] heron2014 opened #368 "candidate on job-deatield view displayed as 1 column"
They should display in-line.

![css_bug](https://cloud.githubusercontent.com/assets/8476884/14109250/fbf60c2a-f5b8-11e5-927f-e4177e51201b.png)

[2016-03-29 13:23] Adam-JF opened #369 "Clicking on website applicant's LI from profile removes existing contact details"
When visiting Julian Kuntorov LI profile through his website application, all of his previous contact details were removed in place of the LI info - in this case, nothing.

His job application was also removed.

[2016-03-29 14:54] Adam-JF opened #370 "Ciaran Hickey's Initials"
Ciaran's initials on the job list page appear as CG

They should be CH

[2016-03-30 08:29] Adam-JF opened #373 "Special Characters Search Issue"
When searching for people's names, the app has an issue finding names with special characters, accents etc.

![screen_shot_2016-03-30_at_09 21 06_1024](https://cloud.githubusercontent.com/assets/15364186/14136245/c0566e34-f659-11e5-84ab-f4bcad693e1b.png)

^^ The name we were looking for in the above search was 'Alex Hernández' - The only way to find him was to search for 'Alex Hernandes'

[2016-03-30 13:51] SimonLab commented on #369
@Adam-JF The profile should keep all the data now, resolve with #371

[2016-03-30 18:23] nelsonic opened #375 "500 Error when attempting to send email on email-auth branch"
While reviewing the PR: https://github.com/FAC-GM/app/pull/374
just checkout out the `email-auth` branch and ran `npm run dev`
when I click on the `Send Email` button on Maria Dolores' profile:
![gm-maria-dolores-click-on-send-email](https://cloud.githubusercontent.com/assets/194400/14152761/aa511e10-f6ac-11e5-8805-a182c20c2f02.png)
I get a 500:
![gm-500-error-when-attempting-to-email-maria](https

[2016-03-30 18:29] nelsonic commented on #375
While debugging the `response` I see the record is not found:
[code]

[2016-03-30 18:34] nelsonic commented on #375
I deleted my ES index `curl -XDELETE 'http://localhost:9200/gmcontact'`
and re-ran the tests and still no luck.

[2016-03-30 18:37] nelsonic commented on #375
The ES `client.get` on line [57](https://github.com/FAC-GM/app/blob/5c609fd3f5c4fa4fc25fa02c9c14689c67bad5b0/lib/email.js#L57)
[code]
is looking up the id of the *sender*...
I tried to login using an incognito window to get a new login session.
still get the 500 error...

[2016-03-31 09:21] Adam-JF commented on #360
![booking](https://cloud.githubusercontent.com/assets/15364186/14171175/8611cbb2-f729-11e5-97bb-164e99071880.jpg)

[2016-03-31 09:22] Adam-JF opened #376 "Delete Button on Jobs Page"
As a member of Global {M} I would like a delete button at the bottom of the job page in the centre where I can delete the job listing from both the app and the website.

[2016-03-31 09:31] Adam-JF opened #377 "Delete Duplicate Clients"
We have some duplicates in the client list we would like deleting.

- [x] VPAR Live Golf Scoring
- [x] YouSoft Ltd
- [x] Yousoft.com
- [x] WeSwap.com
- [x] Borderguru
- [x] Founders and Coders
- [x] Judo Payments
- [x] TestCompanyA
- [x] TestCompanyB

[2016-03-31 10:05] SimonLab opened #378 "unblacklist inactive client"
If the client is inactive it should not be on the blacklist list of clients

[2016-03-31 10:07] SimonLab opened #379 "list candidates in the client view"
The client view should have the list of candidates currently working for this client

[2016-03-31 10:08] SimonLab opened #380 "Click initials on job list"
When a user click on the initials on the job list it display a list of jobs managed by the initials' owner.

[2016-03-31 10:10] SimonLab opened #381 "Edit contact info of a candidate"
A user can edit and update the contact information (email, phone, address) of a contact

[2016-03-31 10:15] SimonLab opened #382 "Viewing activity of a candidate"
We are already display the initials of a user if a profile is a first degree connection of this user. Instead of tracking the activity with the first degree initials we suggest to create a new property/tags to know who see the LI of a candidate, like this we keep the two feature separated:

[2016-03-31 10:17] heron2014 commented on #382
Basic UI proposed for this feature:

![initials](https://cloud.githubusercontent.com/assets/8476884/14172813/11885096-f732-11e5-8858-91ea50b5fd8a.png)

@iteles @Adam-JF what do you think?

[2016-03-31 12:58] iteles opened #383 "Sub-issue of email links | 'Interested status'"
Linked to #301 (Status update links in emails).

Functionality when button is clicked:
+ [ ] Takes candidate to a 'thank you, your option has been recorded' page
  + [ ] **Open question:** Does this need to be on the Global {M} website to allow them to then click around (we would need TOAD for this)? Or just a page on the app? Note they would then see the URL of the app in their address bar and th

[2016-03-31 13:10] iteles opened #384 "Sub-issue of email links | 'Contact me in 2 months' status"
Linked to #301 (Status update links in emails). The longer term view of this is to allow candidates to determine _when_ they want to be contacted again.

Functionality when button is clicked:
+ [ ] Takes candidate to a 'thank you, your option has been recorded' page
  + [ ] **Open question:** Does this need to be on the Global {M} website to allow them to then click around (we would need TOAD for

[2016-03-31 13:12] iteles opened #385 "Sub-issue of email links | 'Not interested' status"
Linked to #301 (Status update links in emails).

Functionality when button is clicked:
+ [ ] Takes candidate to a 'thank you, your option has been recorded' page
  + [ ] **Open question:** Does this need to be on the Global {M} website to allow them to then click around (we would need TOAD for this)? Or just a page on the app? Note they would then see the URL of the app in their address bar and th

[2016-03-31 14:11] Adam-JF commented on #369
Fixed - working great.

[2016-03-31 14:11] #369 closed

[2016-03-31 14:12] Adam-JF commented on #351
Works well after current testing.

[2016-03-31 14:12] #351 closed

[2016-03-31 14:13] #341 closed

[2016-03-31 14:13] Adam-JF commented on #337
Working great thus far.

[2016-03-31 14:13] #337 closed

[2016-03-31 14:14] Adam-JF commented on #336
Owners referred to as 'Account Managers' - works great.

[2016-03-31 14:14] #336 closed

[2016-03-31 14:14] #334 closed

[2016-03-31 14:17] Adam-JF commented on #332
Works great.

[2016-03-31 14:17] #332 closed

[2016-03-31 14:18] Adam-JF commented on #331
Works great.

[2016-03-31 14:18] #331 closed

[2016-03-31 14:19] Adam-JF commented on #330
Works great.

[2016-03-31 14:19] #330 closed

[2016-03-31 14:22] Adam-JF commented on #240
Working great so far - well done guys.

[2016-03-31 14:22] #240 closed

[2016-03-31 14:41] Adam-JF commented on #311
Attached continent list with respective countries underneath.

[Countries.xlsx](https://github.com/FAC-GM/app/files/197857/Countries.xlsx)

[2016-03-31 16:21] SimonLab commented on #377
@Adam-JF I'm not sure the key contact information for VPAR are correct, they are the same as in YouSoft

[2016-03-31 16:46] Adam-JF commented on #377
They are correct - the contact is the same for both companies.

[2016-03-31 16:54] SimonLab commented on #377
:+1:

[2016-03-31 19:02] iteles opened #386 "Blacklist a candidate from being mass emailed if they've been emailed in the last month"
As a GM manager, I want to make sure no one on my team _mass_ emails a candidate that has already been emailed in the last month so that they don't start to consider our emails to be spam.

This will be done by removing the ability to mass email candidates who have already been emailed in the last month, by removing the checkbox from next to their profile in search results.

[2016-04-01 11:12] Adam-JF opened #387 "Consultant Search Analytics"
As a Director of Global {M} I would like consultant searches and activity reports to be visualised live on the app when I visit an admin dashboard. We want this to be an automated process without the manual input from Adam.

--

Attached is an example of the spreadsheets I put together for Nick and Alex so they can see consultant activity and what is being brought into the app on a daily basis.

N

[2016-04-01 12:26] Adam-JF commented on #387
The fields taken from Kibana are:

- location
- headline
- fullname
- connectedTo
- date

There is a limit of 1000 rows on Kibana from the most recent entry (by date) - this has been changed from the default figure of 500. More than 1000 makes Kibana run very slowly and is prone to errors.

The counts are done by using =COUNTIF($A$1:$A$2000,A2)

$A$1:$A$2000 Indicates the row range
A2 is the cell

[2016-04-04 08:17] heron2014 commented on #350
Break-down list for this feature:
* [ ] create a helper to insert new property {active: true } on jobs object - see [add_active_property_job.js](https://github.com/FAC-GM/data-copy/blob/6385f537512f7840c84938f0a15c6ef394a02d8b/helpers/add_active_property_job.js)
* [ ] - add active checkbox on create/edit jobs
* [ ] - separate active and non active jobs by filtering based on active property
* [ ] -

[2016-04-04 08:46] Adam-JF opened #389 "Extension Issue"
The app is not currently pulling information from LI.

Regardless of which pages you visit, nothing is updating.

I assume this is due to the updates to the extension, but the team would like a fix asap - do we know what's going wrong?

[2016-04-04 08:56] heron2014 commented on #350
Proposed basic UI:

![activejobs](https://cloud.githubusercontent.com/assets/8476884/14243081/5779776c-fa4b-11e5-8408-5712789c2d30.png)

@iteles @Adam-JF please let me know what you think?

[2016-04-04 09:10] Adam-JF commented on #350
Perfect 👌

[2016-04-04 10:01] Adam-JF opened #390 "Job Posting"
The following job https://global-m.herokuapp.com/jobs/AVPLzX-Y1ztZUbCCBnqp - is listed as having 75,000 euros as the starting salary on the job creation, however, it is currently being displayed on the website as being 75,000/day - http://www.global-m.co.uk/jobs/?id=AVPLzX-Y1ztZUbCCBnqp

It has been selected as a permanent position and the entries are correct.

Why is this happening?

[2016-04-04 11:12] iteles commented on #389
@Adam-JF We've published a new version of the extension which should fix this problem - it usually takes 1 to 3 hours to show up in the google chrome store!

[2016-04-04 12:54] iteles commented on #390
We think we have understood what's causing the issue on our side (around 'Pay rate') being an empty string, but can't test this due to the GM website malfunction. We are waiting for TOAD to deal with this before we can test our proposed solution.

[2016-04-04 14:55] heron2014 commented on #350
This is how currently active/nonactive tabs looks like :
Active Jobs:
![active-tab](https://cloud.githubusercontent.com/assets/8476884/14252041/7e8b918c-fa7d-11e5-9baf-611ea5f26512.png)

Non Active
![non-active](https://cloud.githubusercontent.com/assets/8476884/14252049/8a0c9ede-fa7d-11e5-84e4-977aba0f2ef0.png)

@iteles @Adam-JF what you guys think?

[2016-04-04 15:07] nelsonic commented on #350
https://www.google.co.uk/search?q=nonactive

[2016-04-04 15:36] heron2014 commented on #350
@Adam-JF can you please confirm name for the tabs: Active Jobs, Inactive Jobs?

[2016-04-04 21:55] iteles opened #392 "Small display issue with jobs list"
Looks like PR #391 inserted a small CSS bug where the intials overlap the information on the job list view:
<img width="1039" alt="screen shot 2016-04-04 at 22 53 11" src="https://cloud.githubusercontent.com/assets/4185328/14264882/415c0428-fab8-11e5-8fef-12443ddaf397.png">

[2016-04-05 07:42] heron2014 commented on #392
ohh yeah! thanks @iteles.

[2016-04-05 11:23] Adam-JF opened #394 "Updating Fritjof's Contacts"
Fritjof has had a massive increase in the number of connections he has.

We would like this to be updated on the app which will involve activating the scraping tool.

Following my conversation with @iteles would be great to spend some time next week reviewing the existing tool and working out how it functions currently and how we can change it so members of the team can access it when they need to

[2016-04-05 12:32] Adam-JF commented on #387
Location Statistics Graph:
![screen shot 2016-04-05 at 13 30 07](https://cloud.githubusercontent.com/assets/15364186/14281713/9d38ee76-fb32-11e5-8822-1f3830bc9c5b.png)

Consultant Statistics Graph:
![screen shot 2016-04-05 at 13 30 20](https://cloud.githubusercontent.com/assets/15364186/14281723/a87e1702-fb32-11e5-863f-2735460d1679.png)

Candidate Location Statistics:
![screen shot 2016-04-05 at 1

[2016-04-05 13:20] #389 closed

[2016-04-05 13:21] #377 closed

[2016-04-05 13:21] Adam-JF commented on #350
Works great.

[2016-04-05 13:21] #350 closed

[2016-04-05 16:39] Adam-JF opened #395 "Add People on LI from within the App"
As a consultant I would like the ability to fill in gaps on the app with a button which links to the add feature on LI - that way I can populate their profiles with more information.

[2016-04-05 16:42] Adam-JF opened #396 "Percentage match is not displaying properly"
Percentage match is not displaying properly - its numerical value is displayed, not the pie chart.

![screen shot 2016-04-05 at 17 40 45](https://cloud.githubusercontent.com/assets/15364186/14290127/b6eba1b0-fb55-11e5-86e4-b717ebdb968e.png)

[2016-04-05 16:45] Adam-JF opened #397 "Select All Button Not Working"
The select all button for the candidate emailing is not functioning - none of the candidates in the list are selected.

When 'send email' is clicked, the page refreshes and we're put back onto the homepage.

![screen shot 2016-04-05 at 17 44 09](https://cloud.githubusercontent.com/assets/15364186/14290233/26c9c494-fb56-11e5-8dee-38b651ba2745.png)

[2016-04-06 09:18] Adam-JF commented on #370
Fixed it.

[2016-04-06 09:18] #370 closed

[2016-04-06 10:19] heron2014 commented on #392
Resolved by this [PR - 393]( #393)

[2016-04-06 10:22] Adam-JF commented on #397
Fixed.

[2016-04-06 10:22] #397 closed

[2016-04-06 10:22] Adam-JF commented on #396
Fixed.

[2016-04-06 10:22] #396 closed

[2016-04-06 10:53] Adam-JF commented on #390
An example of a job posting that is displaying correctly -

Advertising Sales Manager - EMEA
https://global-m.herokuapp.com/jobs/256
http://www.global-m.co.uk/jobs/?id=256

[2016-04-06 11:37] heron2014 commented on #390
Would it be possible to confirm with Toad , what properties from json object they populate in this field:

![populate-data-toad](https://cloud.githubusercontent.com/assets/8476884/14315057/01654014-fbf3-11e5-9bd5-9a903511afa7.png)

- we want to make sure that this property is related to payRate as our first assumption is.

[2016-04-06 12:02] #392 closed

[2016-04-07 09:31] heron2014 commented on #382
This is how currently we display following:

- The number '1' next to email indicator is informing the user about:  how many users viewed this profile on LI

![viewedby-number](https://cloud.githubusercontent.com/assets/8476884/14346769/91236a92-fcab-11e5-9a02-7811f269719a.png)

- The 'AC 2' means that I have viewed this profile on LI 2 times.

![viewedby-initials-times](https://cloud.githubuserco

[2016-04-07 10:02] iteles commented on #382
@heron2014 I think that on the individual profile it needs to say "Viewed on LinkedIn by:" before showing the initials but looks good!
@adam-jf?

[2016-04-07 10:03] heron2014 commented on #382
@iteles that's true!! I will update it!

[2016-04-07 10:24] heron2014 commented on #382
Updated version (detailed candidate view):

![viewed-by-detailed](https://cloud.githubusercontent.com/assets/8476884/14348201/dd9a99f2-fcb2-11e5-80cd-189549679ea0.png)

If nobody viewed this profile, the section Viewed By won't be shown.

@Adam-JF feel free to search for different icon if this one is not suitable.

@iteles @Adam-JF what do you think?

[2016-04-07 10:42] Adam-JF commented on #382
I like it 👌

[2016-04-07 10:45] Adam-JF opened #398 "CV Upload for non-website profiles"
We would like the ability to add CVs to the profiles that already exist in the app.

Considering this functionality is already live for the ones coming from the website would this be hard to implement?

Linked to #330

[2016-04-07 15:15] heron2014 commented on #382
[api.js](https://github.com/FAC-GM/app/blob/activity-viewedBy/lib/api.js) is the endpoint where we get data from ext

We have a following scenarios:
-**first scenario**
Url (from ext) exist in ES [L20-L33](https://github.com/FAC-GM/app/blob/activity-viewedBy/lib/api.js#L20-L33) and is a first degree connection we allow to update the whole profile

Check if **viewedBy** property is already in a pro

[2016-04-07 15:50] Adam-JF opened #399 "UI Overhaul for Job Applicants Page"
Currently if we receive a lot of applicants through the website for a job, the job page becomes quite cluttered.

I'm going to rethink this and try to improve it. Any suggestions in the meantime are welcome.

![](https://files.slack.com/files-tmb/T082T1PU2-F0YR28S6B-badbfec235/screen_shot_2016-04-07_at_16.35.58_1024.png)

[2016-04-08 13:34] heron2014 commented on #382
Why ES can't match the user object. We compare name which is defined (comes from ext), in particular with Ines and with names.linkedinName from ES; I logged the DB and on Ines we have :linkedinName

![real-db-mapping](https://cloud.githubusercontent.com/assets/8476884/14385095/9275b77e-fd96-11e5-8bca-de9b37cbd781.png)

see line [L16](https://github.com/FAC-GM/app/blob/activity-viewedBy/lib/databas

[2016-04-08 13:43] heron2014 commented on #382
Investigating 'match_phrase' in ES.

[2016-04-08 13:55] Adam-JF commented on #390
Having spoken to Henry from TOAD the issue is the addition of a comma in the salary value.

The salary must only be figures, no special characters.

75000 NOT 75,000

[2016-04-08 14:38] heron2014 commented on #390
thanks @Adam-JF

[2016-04-08 15:41] heron2014 opened #401 "Removing ability to mass email candidates if they have already been emailed within the last month"
As a user I don't want to accidentally span people if we already sent an email within last month

[2016-04-08 15:51] heron2014 commented on #401
First approach is to filtered emails array to only return emails which timestamp is larger than last 30 days, I was testing in the repl.it [repl](https://repl.it/CDac)

[2016-04-09 04:59] iteles opened #402 "Add validation to salary field in jobs section"
As a user of the application I don't want to have to keep remembering how to format numbers in the starting salary so as to not create problems on the website (see #390).

<hr/>
On the jobs editing page, we need to add HTML5 and backend validation to the 'salary' field to ensure that there are no commas (,) here if the 'employment type' field is set to 'Permanent'.
<img width="1038" alt="screen sh

[2016-04-09 04:59] iteles commented on #390
@Adam-JF I created a linked issue to add validation so I think we can close this one for now if you're happy it's resolved.

[2016-04-09 05:00] iteles commented on #402
@Adam-JF Please assign a priority to this task!

[2016-04-09 15:01] heron2014 commented on #382
Why match as opposed to match_phrase query worked matching name from ext with our DB?

**match** - according to the ES book (page 104) says :
'The **match** query should be the standard query that you reach for whenever you want
to query for a full-text'.

**match_phrase** - is used to match the phrase, the words in the query phrase must all appear and also they must be in the same position to fin

[2016-04-11 09:12] Adam-JF opened #403 "Kibana Data"
Currently I am creating spreadsheets which highlight consultant activity by copy and pasting information from Kibana and then modifying it in Excel.

Kibana limits me to only copying 1000 rows at a time - if I change it to display any more than that, Kibana runs very slowly and often can't complete the search.

Specifically, I am trying to pull off some data for Alex about Ruby developers on the a

[2016-04-11 09:48] heron2014 commented on #382
The interesting thing is that when I use my localhost database and try to get initials from LI logged in as Ines I still have trouble, but this time completely different - is related to mapping:

![error-mapping-localhost](https://cloud.githubusercontent.com/assets/8476884/14423248/bbca775c-ffd2-11e5-838c-e7ba773df410.png)

While running it on real database there is no problem.

Is our data format

[2016-04-11 10:11] heron2014 commented on #382
What is **mapping** and how it can impact queries is explained [here](https://github.com/learnTrack/Q-A/issues/63).

[2016-04-11 10:45] heron2014 commented on #382
[code]

above command will detailed all data formats for each field.
Official docs - [mapping-type](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html#mapping-type) says:

"Each mapping type contains a list of fields or properties pertinent to that type. A user type might contain title, name, and age fields, while a blogpost type might contain title, body, user_id and cre

[2016-04-11 11:39] heron2014 commented on #382
Worth reading [elasticsearch-nested-mapping-and-filter](http://joelabrahamsson.com/elasticsearch-nested-mapping-and-filter/)

[2016-04-11 13:40] Adam-JF opened #404 "CV Bug"
Website applicants are sometimes being logged with the wrong CV.

The following profiles both have the same, incorrect CV linked from their profile.

http://global-m.herokuapp.com/candidate/AVCML6z7ol2-ujJIPjs3
http://global-m.herokuapp.com/candidate/AVCKP2f0HEN0uJjV3umq

This may be because those particular website applicants did not include a CV with their profiles so the app has automatically a

[2016-04-11 15:22] Adam-JF commented on #360
![b2oco-vz](https://cloud.githubusercontent.com/assets/15364186/14432340/9b2ac5ea-0001-11e6-8c6d-d744e1abb6ec.jpg)

[2016-04-11 15:53] Adam-JF commented on #360
![562b8fad6ed301a40a8788559e22c6d2](https://cloud.githubusercontent.com/assets/15364186/14432919/13bf8b38-0004-11e6-9957-dfb75965f8e8.jpg)
![islington_ mh 07](https://cloud.githubusercontent.com/assets/15364186/14432920/13d3a8c0-0004-11e6-95e4-c3aa2a661377.jpg)
![p17d98f5st15qd1tsv1m9c1sbu11uo0_64674](https://cloud.githubusercontent.com/assets/15364186/14432921/13e04d64-0004-11e6-84a1-13887825656d

[2016-04-12 09:37] nelsonic commented on #403
@Adam-JF Kibana does not *yet* have a way to bulk-export data (*as CSV*)
there is an open issue on the Kibana GitHub repo and its marked as "**P1**" (*top priority*): https://github.com/elastic/kibana/issues/1992 ... but this does not help you *today*.

@SimonLab can you please dig out the script you wrote to backup the ElasticSearch database and send it to me? *thanks*.

[2016-04-12 12:01] SimonLab commented on #403
@Adam-JF I'm going to have a look at it. Otherwise is https://github.com/FAC-GM/data-copy/blob/master/helpers/copy-candidates.js what you want @nelsonic ?

[2016-04-12 14:14] Adam-JF opened #406 "Add Elizabeth to the app"
Elizabeth has installed the extension and now she would like full access to the application.

Her email address is: ask @Adam-JF

[2016-04-12 15:05] SimonLab commented on #406
Hi @Adam-JF , Elizabeth should be able to access the app now.

[2016-04-12 16:16] Adam-JF commented on #401
This is no longer in scope for Sprint 8.

[2016-04-12 20:23] iteles commented on #401
@Adam-JF As we discussed, we are already at the end of sprint 8 and time has already been spent on this feature - it's one code review away from being ready to go. I'm happy to have a call with Nick about this tomorrow if needs be.

[2016-04-13 08:26] SimonLab commented on #403
I was looking at [electron](http://electron.atom.io/), it can allow us to create a desktop app which allow a user to export the data to a csv file. The advantage of it is that we don't have to create another endpoint on the app and we don't have to manage authentication/authorization because the electron app doesn't have to be hosted on a server. I just played with a simple hello app for now but I

[2016-04-13 10:49] heron2014 commented on #382
@Adam-JF would it be possible for you to prepare us a list of all the users with their current fullname on Li and LIR? (to confirm what we have already ).Please send us on email, thank you.

[2016-04-14 09:06] nelsonic commented on #403
@SimonLab `electron` *could* an option, but we need to time-box it.
Is there a simpler solution?

[2016-04-14 10:51] Adam-JF opened #407 "Email Icon Improvement"
As a consultant I would like email information to be similar to what is offered by LIR.

I would like to be able to see:
•	The date the last email was sent
•	The name of the person who sent that email
•	The subject line for that email

This should happen when a mouse pointer is hovered over the envelope symbol.

App Design:

![screen shot 2016-04-14 at 11 47 58](https://cloud.githubusercontent.com

[2016-04-14 13:40] #406 closed

[2016-04-15 09:53] heron2014 commented on #406
Looks like Elizabeth hasn't yet logged in to the app. To be able to add her to database we need Elizabeth to login to the app. This way we can get her id and add her to database so she can fully use the application with the extension.

@Adam-JF Do you know if Elizabeth has used the platform?

[2016-04-15 09:58] SimonLab opened #409 "update dependencies"
![updatedependencies](https://cloud.githubusercontent.com/assets/6057298/14558202/f79995fa-02f8-11e6-9c7e-bb3556d929b6.png)

[2016-04-15 10:31] heron2014 commented on #368
Resolved with this PR #372

[2016-04-15 10:31] #368 closed

[2016-04-15 10:34] heron2014 commented on #399
We could possibly do a toggle button or tab to show the candidates.

[2016-04-15 10:52] heron2014 opened #411 "Technical docs"
Create a detailed technical documentation in regards to how the platform works. This information will be very useful for current developers to maintain the platform.

[2016-04-15 10:52] iteles commented on #399
Once there is a way to link a person in the app to a specific job (through notes), this will need to be re-thought to include the various stages of the process as well.

[2016-04-15 11:19] heron2014 commented on #411
Plan for the documentation. Divide document into following sections:

- [ ] Databases (what? - number of databases we are using, How? - how to access them locally, Why? why we are using them and what for)
- [ ] Env file (list of necessary environmental variable to run an app)
- [ ] Technologies stack
- [ ] Api (list of api's for the platform - mainly routes)
- [ ] Handlers
- [ ] Images of the feat

[2016-04-15 11:26] iteles commented on #411
@nelsonic For review this weekend!

[2016-04-15 11:39] heron2014 commented on #386
Related to #401

[2016-04-15 11:40] #386 closed

[2016-04-15 12:22] SimonLab opened #412 "Refactor email handlers"
- [x] The [handlers](https://github.com/FAC-GM/app/blob/master/lib/email.js#L20-L70) can be required from another file instead of defining them the the email file. It will make the file more readable and can help for #319

- [x] The [elasticsearch functions](https://github.com/FAC-GM/app/blob/ff3e697404506637a3fc2df8e54faea33983acb0/lib/email.js#L49-L53) should be defined in the elasticsaerch help

[2016-04-15 12:55] heron2014 commented on #387
Our thirst thoughts in regards to UI for this feature:

![flow-visual](https://cloud.githubusercontent.com/assets/8476884/14561870/4a0b28c2-0311-11e6-9a89-c0cc3d588416.png)

![stats-visual1](https://cloud.githubusercontent.com/assets/8476884/14561883/5a951f5e-0311-11e6-92e3-399e964a81d6.png)

![candidate-loca-stats](https://cloud.githubusercontent.com/assets/8476884/14561893/6d33179c-0311-11e6-8db

[2016-04-15 13:44] iteles commented on #387
@heron2014 Thanks for these! I've asked @Adam-JF to add his wireframes here so we shouldn't spend more time on this ourselves.

Some comments:
+ The nav bar should be consistent across the application. I would suggest that the stats icon is brought into the body of the dashboard as a toggle between the candidates and the stats, but the nav bar is kept the same as the rest of the app (without the s

[2016-04-15 15:05] heron2014 commented on #387
@iteles sorry for not clear wireframes. I will clarify some steps: from home page by clicking on 'user icon' redirects to dashboard, the nav in dashboard has icon to redirect to stats page (this icon will be a toggle to be able to go back from stats to dashboard page) - I picked terrible icons :)

The aggregated view for N & A will be the same as for individual user except that the graph will disp

[2016-04-15 16:05] iteles commented on #387
@heron2014 So the stats page icon in the nav is _in addition_ to the usual icons you get there?

N & A will need an aggregate view but also a view of their own stats 😊

[2016-04-15 18:51] SimonLab commented on #319
error from gmail:
[code]

[2016-04-15 19:04] SimonLab commented on #319
error at:
[code]

[2016-04-16 09:13] SimonLab opened #414 "Groovy with elasticsearch?"
Can we use [Groovy](https://en.wikipedia.org/wiki/Groovy_(programming_language)) to use script in elasticsearch updates? It make the code shorter and more readable, are there any drawbacks?

[2016-04-16 09:36] nelsonic commented on #414
@SimonLab  What problem are you trying to solve? (*preferably give a specific code example*...)
The obvious drawback: Forcing anyone/everyone who contributes to the project to learn Groovy ...

The better question is: what is the *advantage* ...? Can we not just *simplify* (*and comment*) the *existing* code?

It might be worth investigating why the team behind Kibana did not chose to use JVM lang

[2016-04-16 11:27] SimonLab commented on #414
I was wondering if there was a better way to upate a array value of a document in elasticsearch, for example each time an email is sent we need to update the list of emails sent to a candidate:

[code]

The way we are doing this at the moment is:
- getting the property email of the candidate
- pushing the new value to the emails array
- updating the value emails with the new one

see [this code](h

[2016-04-16 14:27] nelsonic commented on #414
Ah, yes, using `ctx._souce` would simplify the JS you need to write to update a record and reduce the round-trip time. how many times are you performing this sequence of requests in the app per second?

[2016-04-16 15:33] SimonLab commented on #414
Concerning updating the emails value each user can execute up to 100 updates at a time, so if every users update the emails value at the same time we can have around 10 * 100 updates at the same time. So if elasticsearch can manage 1000 updates (which is in reality a get and an update request) we can have 1000 update sequence per second (but it is very unlikely)

[2016-04-16 21:09] nelsonic commented on #414
*very unlikely* indeed. 😉

[2016-04-17 18:19] nelsonic commented on #411
@iteles What do I need to *review* the list of tasks? I think they look great!
I would split each one out into a separate issue, time-box each one and crack on.
If there are *specific* questions, please ask/assign! 👍

[2016-04-17 19:28] iteles commented on #411
@nelsonic if you have some examples of good docs to share or thoughts on other things that should be included, also welcome!

[2016-04-17 20:33] nelsonic commented on #411
This is a *really* good start.
I would add JSDoc style comments to *all* the Handlers & Helper Functions in the project.
see: https://github.com/dwyl/learn-jsdoc
We don't need to *run* the JSDoc command for the project, but the comments are pretty much standard in the industry.
Example: [https://github.com/dwyl/hapi-login-example-postgres/lib/handlers/login_handler.js#L7](https://github.com/dwyl/h

[2016-04-18 08:10] Adam-JF commented on #387
![screen shot 2016-04-18 at 09 09 18](https://cloud.githubusercontent.com/assets/15364186/14597543/5a3f8ff4-0545-11e6-9fb7-e8dcab1ece18.png)
![screen shot 2016-04-18 at 09 09 34](https://cloud.githubusercontent.com/assets/15364186/14597546/5c857210-0545-11e6-8040-dc84847b269f.png)
![screen shot 2016-04-18 at 09 09 39](https://cloud.githubusercontent.com/assets/15364186/14597553/63406c5e-0545-11e6-

[2016-04-18 14:33] SimonLab commented on #412
done with #413

[2016-04-18 14:33] #412 closed

[2016-04-18 15:06] Adam-JF opened #415 "Client Page Dashboard"
![screen shot 2016-04-18 at 16 05 32](https://cloud.githubusercontent.com/assets/15364186/14608906/67ca0b92-057f-11e6-84a9-2e1d89aaf7c2.png)
![screen shot 2016-04-18 at 16 05 16](https://cloud.githubusercontent.com/assets/15364186/14608907/67cac974-057f-11e6-8b70-60803ca98ba0.png)
![screen shot 2016-04-18 at 16 05 23](https://cloud.githubusercontent.com/assets/15364186/14608908/67cae1a2-057f-11e6-

[2016-04-18 15:38] Adam-JF opened #416 "Consultant Dashboard Update"
At top - Labels - Pipeline and Emails -

**When on Pipeline:**
View of clients that are owned by that consultant - (Admin version = drop down menu, select consultant for different readouts.)

Pipeline View: Default = view all pipeline activity
All pipeline activity defined in 3 groups - submitted, interview, placement
I'm aware that the feature which is adding custom interview stages may seem to m

[2016-04-20 13:52] Adam-JF opened #417 "U"
![unnamed](https://cloud.githubusercontent.com/assets/15364186/14675189/aea7a2e6-06ff-11e6-9ffb-529bf5923164.png
![amsterdam](https://cloud.githubusercontent.com/assets/15364186/14675256/072f4e28-0700-11e6-982c-498bda61ce50.jpg
![156823562](https://cloud.githubusercontent.com/assets/15364186/14675317/57b09604-0700-11e6-9521-f0c140b97b94.jpg
![214](https://cloud.githubusercontent.com/assets/1536418

[2016-04-20 13:55] Adam-JF opened #418 "Website Image Text 3: Issue"
The website currently displays the 'Image Text 3:' inputs on job postings in a different size and format compared to Image Text 1 and 2.

Is this a TOAD problem or an app problem? Do we just need to change the formatting defaults for that text input?

![screen shot 2016-04-20 at 14 52 43](https://cloud.githubusercontent.com/assets/15364186/14677002/a664d86c-0707-11e6-8c8a-eabba24fd26e.png)

[2016-04-20 14:13] SimonLab commented on #417
@Adam-JF I think the link is broken, what is the U means for?

[2016-04-20 14:34] SimonLab commented on #319
The email functionality has been improved with #412

[2016-04-20 14:56] heron2014 commented on #418
From inspecting element on the website , it looks like the third text is a paragraph tag as opposed to the others - span tag which has some styling. We think it is worth to ask Toad to possibly change the way they render the third text to apply the same html tag/styling to all of the image texts.

[2016-04-20 15:11] Adam-JF commented on #417
Sorry, this is for personal reference relating to a job posting - i'm just using Github to store my image URLs.

[2016-04-20 15:26] iteles commented on #418
It's definitely a TOAD thing. I asked about that and I was told that it was done on purpose as image text 3 is supposed to be a larger paragraph and therefore should be in smaller text.

[2016-04-20 15:26] #418 closed

[2016-04-21 10:10] heron2014 opened #419 "Add users to the platform"
As a admin/manager of the application I would like to add new users as well as have possibility to inactive the users who are no longer in the company. I also want to be able to give permissions to the relevant users. (admin, recruiter rights)

[2016-04-21 10:45] heron2014 commented on #419
Steps:
- [ ] restructure database

At the moment we have two tables: users and owners. We need to merge these tables into one and check relevant features related to these tables.

Current db structure:

- **owners:** {"firstName": "Anita", "lastName": "Cz", "id": 1, "name": "Anita Cz", "email": "a@gm.com"}
- **users**: {"names": {"firstname": "Anita", "lastname": "Cz", "fullname": "Anita Cz", "lin

[2016-04-21 11:33] heron2014 commented on #419
List of plugins which uses env file
[code]
First step:
authentication with Google  [L3](https://github.com/FAC-GM/app/blob/master/lib/google_oauth_handler.js#L3)

EMAILS_ALLOWED we use to to save user to redis [google_oauth_handler](https://github.com/FAC-GM/app/blob/master/lib/google_oauth_handler.js)

analytics/ query -[L67](https://github.com/FAC-GM/app/blob/master/lib/query.js#L67)

[2016-04-22 10:57] heron2014 commented on #419
Replaced MAP_ID_USER in emails.js [L22](https://github.com/FAC-GM/app/blob/master/lib/handlers/email/get_email.js#L22) also merged userProfile and userObject into one object 'user' , and replaced MAP_ID_USER in [L42](https://github.com/FAC-GM/app/blob/master/lib/handlers/email/post_sendmail.js#L42), updated the signature based on new structure object 'user' in generate_signature [L33-L39](https://

[2016-04-22 15:07] heron2014 commented on #419
Restructured the user object in 'owners/list' from new user-table to be exactly as we send to Toad.

[2016-04-25 13:42] heron2014 commented on #419
Replaced fully MAP_ID_USER from env file, owners and users database by new database structure.

[2016-04-29 12:14] heron2014 opened #420 "Restructed Notes Feature"
Currently notes feature is tracking  status of the particular candidate. The new notes feature will only track who posted additional notes. On top of that the consultant will be able to edit default information about the candidate such as:

- salary (current)
- salary (expected)
- notice period
- interested in locations

Basic wireframes for this feature:

![notes](https://cloud.githubusercontent.

[2016-04-29 12:57] heron2014 opened #421 "Restructed status for candidate"
As a consultant I would like to see the current status of the relevant candidate. The status should have information such as:
- who is the client
- what job vacancy
- current stage
- initials of the consultant/owner

On top of that I would like to add additional status to the same candidate and be able to delete the status.

Basic wireframe for this feature:

![status](https://cloud.githubusercont

[2016-04-29 14:23] heron2014 opened #423 "REstructured dashboard"
As a consultant I would like to see all my jobs/clients/candidates and all relevant information to my created jobs and clients.

![dashboard-new](https://cloud.githubusercontent.com/assets/8476884/14918929/371877e8-0e1e-11e6-8945-e20c1b4b2c55.png)

@Adam-JF is this dashboard correct?

[2016-05-02 18:34] heron2014 commented on #420
Steps:
- create a new plugin for **info** (we can call it something else). This property represents the default information about the candidate, example:

[code]
 - info plugin has two endpoints:

[code]

- add info property into all candidates as an empty object  (create helper for it in our helpers repo)
- in getInfoForm handler call new helper **getInfo**
- create getInfo helper (example):

[co

[2016-05-02 20:27] SimonLab commented on #420
Just to be sure, the info structure needs to be added to the candidate objects, it is not an other type in elasticsearch. When we create/update the info structure we are going to update the property info of the candidate with the new value so we are going to use "client.update" but just on the property info. I'm not sure we should redirect to the candidate, it will reload the page and it might loo

[2016-05-03 09:33] iteles commented on #421
@heron2014
The first 2 screens look great - worth noting that the request from @Adam-JF is that the first drop-down limits the options that appear in the second one and then the Stages are hard-coded for now.

Some thoughts:
+ The 3rd screen doesn't look right but I think that's because here it looks like a big input box which isn't the case - I like how you're displaying the owners though!
+ The

[2016-05-03 10:24] SimonLab commented on #421
Thanks for the feedbacks. For the edit button, is it simpler to  delete the status and then create a new one?

[2016-05-03 13:31] heron2014 commented on #420
Currently this is our basic UI:

![default-info](https://cloud.githubusercontent.com/assets/8476884/14984594/72ec972a-113b-11e6-8a15-565629edfccc.png)

On click Edit - form is displaying:

![info-form](https://cloud.githubusercontent.com/assets/8476884/14984648/ae13588e-113b-11e6-91a1-c6e3194c83ab.png)

[2016-05-03 13:40] heron2014 commented on #420
The steps for this feature are slightly different than above comment. The way we do now is using Ajax call - [L84-L118](https://github.com/FAC-GM/app/blob/info-candidate/assets/js/candidate_view.js#L84-L118)

There is only one endpoint in [info.js](https://github.com/FAC-GM/app/blob/info-candidate/lib/info.js) which is **/info/save** which saves or update info property on candidate object in ES.

[2016-05-03 20:39] SimonLab opened #425 "Define type of user"
Add a type to the structure of the user to define the kind of user ('user' or 'dev' for example).
It will allow us to filter the users on the dropdown to select the account manager of a client or a job

[2016-05-03 21:15] iteles commented on #421
Yes and no. from a coding perspective, certainly simpler. But from a user's perspective it doesn't make much sense to have to delete a status and create a new one to advance a candidate to the next stage of the same job...

[2016-05-05 15:55] heron2014 commented on #421
Hi @Adam-JF , could you please list all the stages for the status feature, thanks.

[2016-05-06 11:08] Adam-JF commented on #421
Submitted
Phone Screen
Interview Stage 1
Interview Stage 2
Interview Stage 3
Technical Test
Face to Face
Offer
Placement

[2016-05-06 11:10] heron2014 commented on #420
@Adam-JF you can now test the first part of the notes feature [see](https://github.com/FAC-GM/app/issues/420#issuecomment-216528332) on our testing domain.  Looking forward to your feedback, thanks :+1:

[2016-05-06 11:10] Adam-JF commented on #423
@heron2014 Looks great guys

[2016-05-06 11:16] Adam-JF commented on #420
@heron2014 Works perfectly.

[2016-05-06 11:20] heron2014 commented on #420
Thanks @Adam-JF

[2016-05-06 11:24] Adam-JF commented on #420
@heron2014 Oops, sorry, there was one more thing - i've updated my comment accordingly.

[2016-05-06 11:32] heron2014 commented on #420
@Adam-JF please test it again :+1:

[2016-05-06 11:34] Adam-JF commented on #420
Same issue remains sorry. The info is being removed.

Did it with Mohammad Adil's profile - https://globalm-test.herokuapp.com/candidate/AVSFb_MkWMr7QbX1Hx-4

https://www.linkedin.com/in/adilchang

[2016-05-06 13:03] heron2014 commented on #420
@Adam-JF can you please test this feature by changing url in the extension into the test domain one. IF you need any help, let us know.

[2016-05-06 13:08] Adam-JF commented on #420
All fixed - working great.

Well done guys.

[2016-05-06 13:11] heron2014 commented on #420
Thanks @Adam-JF

[2016-05-07 20:35] heron2014 commented on #421
Current status of the candidate can be edited by tapping the edit button. This possibility is missing from the above wireframes.

[2016-05-07 20:39] heron2014 commented on #421
TO DO:
* [ ] transform userId into initials
* [ ] UI
* [ ] add statusCurrent and statusHistory into all candidates

[2016-05-07 22:24] heron2014 commented on #423
@iteles what do you think about the following:

- clients (possiblity to have lots of clients - for example Manager, this means this horizontal scrolling can be really long, we could fit clients in the next row but this will clutter the view - maybe one of the solution would be regular dropdown? )
- we have now 10 stages instead of 4 as shown in above wireframes
 - which means the user won't be ab

[2016-05-08 19:02] iteles commented on #423
We're trying to put far too much into one screen, but until we show the team that it's not particularly reasonable or useful to cram all this information into a single view, there's not much we can do!

I would suggest that we should have *far fewer* stages (10 stages is **not** an MVP, it's pandering to everyone's needs) and then filter by client for a full view and by jobs with a drop down. The

[2016-05-09 09:34] Adam-JF commented on #423
@iteles For now would it be better to only display stages if there is a candidate at said stage?

At least until we have jobs with custom stage lengths.

I can say with a degree of certainty that there will never be an interview process which is as long as 10 stages. The maximum would probably be 5. I put the full list of 10 possibilities because that covers more or less every variant.

[2016-05-09 16:10] #425 closed

[2016-05-10 10:20] Adam-JF opened #426 "Email Notification Icon is Innacurate"
We need to investigate whether or not the sent email notification icon is working as it should.

Some consultants believe that it is not completely accurate and as a result people are being contacted multiple times when they should not be.

The biggest offender is the search for people with the skill 'Python'

[2016-05-10 10:31] Adam-JF commented on #420
Will these fields be searchable through Kibana?

For instance, if I input a salary onto a profile, will there be a field for this displayed with the value on Kibana?

[2016-05-10 10:33] Adam-JF commented on #420
Also, could we input an additional info field which selects whether or not they are contract or permanent?

[2016-05-10 10:35] Adam-JF opened #427 "Limit number of emails sent"
Is it possible to limit the number of emails sent per consultant each day on the app?

[2016-05-10 10:56] iteles commented on #426
@Adam-JF If you can find us one or two concrete examples of this, that would be great. Otherwise we're searching for a bit of a needle in a haystack!

Thanks!

[2016-05-10 11:38] heron2014 opened #429 "Saving job in the client type"
Save job in the client object when creating a job.

[2016-05-10 11:59] SimonLab commented on #429
resolve with #430

[2016-05-10 11:59] #429 closed

[2016-05-11 18:43] SimonLab commented on #420
@Adam-JF I think you will be able to access the fields with Kibana. For the additional field what kind of field do you think, checkbox with a tag permanent or a dropdown with the two options? Also I think some candidate might be happy with contract and permanent jobs. Another solution is to precise this choice in the section further info.

[2016-05-12 14:16] Adam-JF opened #432 "Client Dashboard - display jobs"
As director's of Global {M} we would like the ability for our clients to see all of their active jobs displayed on their client page.

[2016-05-12 14:17] Adam-JF opened #433 "Client Login"
As directors of Global {M} we would like a way for our clients to login to a separate part of the herokuapp where they can review the recruitment activity specifically associated with their vacancies.

[2016-05-12 14:32] Adam-JF opened #434 "Client Dashboard - Candidates"
As directors of Global {M} we would like our clients to have the ability to monitor the candidates they have in process for their vacancies and be able to progress them through a hiring process using 'drag and drop functionality' between stages.

[2016-05-12 14:34] Adam-JF opened #435 "Company Hireachy"
As director's of Global {M} we would like a company hierarchy to be displayed on client pages with all our existing company connections featured. These should link to their respective profiles within the app.

Aka. CTO/CEO, Hiring Managers, Developers etc.

[2016-05-12 14:35] Adam-JF opened #436 "Client Dashboard - Contacts"
As director's of Global {M} we would like the ability to input both our own and our clients key contact details on their client page so they have an easy reference point if they need to get in touch with us about candidates and vice versa.

[2016-05-12 14:41] Adam-JF opened #437 "Custom Interview Stages"
As director's of Global {M} we would like our client's to have the capacity to create their own hiring process by selecting the relevant steps they want for each vacancy.

For instance - Vacancy 1 = Phone Screen, Face to Face, Technical Test, References Requested, Placement.

Vacancy 2 = Phone Screen, Face to Face, CTO Meeting, Placement.

[2016-05-12 16:38] iteles commented on #433
- How separate is this to the view that Global {M} employees see?
- How do we restrict access to this area (i.e. How do we identify a person as belonging to a specific company and ensure not just anyone can register?)
  - User created by GM
  - GM sends email to client with username and password
  - This implies a way to change a password - GM will need to do this manually for now
  - When client

[2016-05-12 16:47] iteles commented on #434
+ Does each client have completely different stages?
  + Should a client dictate the stages?
  + If a client want to eliminate a stage, what do we do with candidates who are already in that stage?
  + This will have a deep impact on the status feature in the individual candidate page
  + Does pressing the 'x' on the candidates mean that they get a status of rejected?

+ All stages will need to be

[2016-05-12 16:49] iteles commented on #435
+ These are manually input but linked to the candidates in the application? What is the value of linking this to the profile of the person in the application?

[2016-05-12 16:55] iteles commented on #436
+ Input form & display

[2016-05-12 16:56] iteles commented on #437
If a client can create these, what happens if they delete/change a stage which already has a candidate assigned to it?

[2016-05-13 08:23] Adam-JF commented on #433
Clients will only be able to access the client page with their relevant job postings and will only be allowed access to the candidate profiles associated with their vacancies. However, they will not be able to view the notes, contact details, or info sections of those profiles.

We will have pre-approved email addresses which are registered under the Global {M} or that specific companies domain -

[2016-05-13 08:31] Adam-JF commented on #434
- Each client should have the capacity to select the stages from the pre-determined list from issue #421
- The client should be unable to delete a stage with candidates within it. They must choose to either progress the candidates from that stage or reject them. Only an empty stage may be removed.
- Clients should not have the capacity to delete people from their dashboard, only to progress or rej

[2016-05-13 08:37] Adam-JF commented on #435
- Yes.
- They are manually input but will link to people within the application - this is more beneficial for Global {M} employees so we can quickly find client employees in one place, similarly when we wish to include matching functionality/'similar profiles' then we'll want one area where we can find everything associated with that client.
- I can't think what the harm would be of allowing clien

[2016-05-13 08:42] Adam-JF commented on #437
Answered in #434

The client should be unable to delete a stage with candidates within it. They must choose to either progress the candidates from that stage or reject them. Only an empty stage may be removed.

[2016-05-13 12:24] Adam-JF commented on #360
![hvooxh_m](https://cloud.githubusercontent.com/assets/15364186/15247735/07df479a-190e-11e6-8111-4aae0415cde1.jpeg)

[2016-05-13 14:43] Adam-JF commented on #360
![pbzf4p_9](https://cloud.githubusercontent.com/assets/15364186/15247783/3f8a6490-190e-11e6-83ee-a9267356dd4e.png
![t3vk0kje](https://cloud.githubusercontent.com/assets/15364186/15247827/90ba5e74-190e-11e6-8d88-7f7ffcee647b.png)

[2016-05-13 14:43] heron2014 commented on #432
@Adam-JF Can client access detailed job page on the application?

[2016-05-13 15:08] Adam-JF commented on #432
@heron2014 No, they can't just the overview details.

[2016-05-13 15:28] SimonLab commented on #434
@Adam-JF When a client reject a candidate do we need to display in a separate section the rejected candidate?

[2016-05-13 15:37] Adam-JF commented on #360
![annova logo](https://cloud.githubusercontent.com/assets/15364186/15251536/d6e7039e-1921-11e6-8627-93fbb15dcf29.png
![186024](https://cloud.githubusercontent.com/assets/15364186/15251610/27aa1028-1922-11e6-96d4-f86edf12b068.png)

![zsf5i67j](https://cloud.githubusercontent.com/assets/15364186/15251647/5907ddee-1922-11e6-85e7-87759014b4f4.jpg)

![f2fffffb96d027f04e3f33b5cf18fb12_400x400](https://c

[2016-05-13 15:38] heron2014 commented on #433
@Adam-JF Do clients are able to logout ? We don't think it is a high priority, but what do you think?

[2016-05-13 15:45] Adam-JF commented on #433
@heron2014 No, I agree it's not high priority.

[2016-05-13 15:53] iteles commented on #434
@Adam-JF Could you please remember to also propose a UI for if a single user is moved from stage to stage by arrows vs drags and drop, so we can estimate this as well?

Thanks
Ines

[2016-05-13 16:20] SimonLab opened #439 "Drag and Drop"
A Drag and Drop feature has been requested. From a testing point of view the drag and drop looks complicated to implement. @nelsonic do you have any advise or veto on the use of D&D?

[2016-05-14 08:58] nelsonic commented on #439
@SimonLab it would be good to expand this issue into more of a *user story* so we can understand the use case in more detail. Drag-and-Drop is _usually_ used to move DOM elements around the page and _often_ the feature gets implemented without a fallback (*i.e: JS-only client without accessible fallback*). is the product owner / feature requestor aware that that support for [**_Native_ HTML5 Drag

[2016-05-15 18:50] iteles opened #440 "App is down because of heroku-redis update"
`{"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}` error when logging in.

I believe this is caused by the unscheduled `heroku-redis` update:
<img width="443" alt="unscheduled-heroku-redis-update" src="https://cloud.githubusercontent.com/assets/4185328/15276116/3d583638-1ad6-11e6-92fe-03925e3621fb.png">

@nelsonic Roll back to your last deploy until

[2016-05-15 19:17] SimonLab commented on #440
@iteles thanks for reporting I'm having a look at the logs

[2016-05-15 19:28] SimonLab commented on #440
From the logs it seems that some candidate object doesn't have the property notes to undefined. I manage to run the application by commenting some part of the code to see the last candidates. They are from the website so my first thought is that there are some data missing between the website and the application, I'm now going to verify this and at the same time I will add the note property missin

[2016-05-15 19:36] SimonLab commented on #440
The app is back to normal!

[2016-05-15 19:39] iteles commented on #440
Ha, thanks for investigating on a Sunday! Do we have a way of preventing this from happening again?

[2016-05-15 19:44] SimonLab commented on #440
I'm not 100% sure why the data of the last candidates was corrupt, I think a connection problem happened between the website and the app. We have already a [function](https://github.com/FAC-GM/app/blob/master/lib/helpers/complete_profile.js) which complete a candidate object if this one doesn't have all the information, we can add another test to be sure that the object is valid before saving it t

[2016-05-15 21:01] iteles commented on #440
Let's let it ride out tomorrow and we can pick it up on Tuesday when you and @heron2014 are back in the office, @SimonLab 👍

[2016-05-15 22:30] #420 closed

[2016-05-16 12:46] SimonLab commented on #423
@Adam-JF the new version of the dashboard is now online

[2016-05-16 12:47] SimonLab commented on #421
@Adam-JF The status feature is online.

[2016-05-16 13:15] Adam-JF opened #441 "LI Links on Profile"
The LI links on profiles loop back to the same page on the app without going to the external LI page.

[2016-05-16 13:19] Adam-JF opened #442 "Include Client Name on Job Filter"
As mentioned by @iteles at the Sprint 9 demo, it would be great if we could see the client names associated with the job postings before clicking on the filters.

The filters would be used to isolate the view to that specific client, but the names would be there initially for the 'overview'.

[2016-05-16 14:03] SimonLab commented on #441
@Adam-JF thanks for spotting that! I've just created a fix and it should be merge soon

[2016-05-16 15:22] iteles commented on #442
👍 We'll add this to the estimates for sprint 10.

[2016-05-16 16:07] SimonLab commented on #439
The use case for Drag and Drop is to allow users (and clients see #434 ) to change the stage process of a candidate:
![stages](https://cloud.githubusercontent.com/assets/6057298/15295279/9de17440-1b87-11e6-95cd-86815b912715.png)

The wireframe on this version is using a button arrow to progress a candidate to the next stage. This version if easier to implement for use and directly testable.
So wit

[2016-05-16 16:43] nelsonic commented on #439
Is the plan to *spike* the D&D ? or to build the arrows?
How many instances will a Consultant *want/need* to drag the candidate "*jumping*" steps in the process...?

[2016-05-16 17:19] iteles commented on #439
@nelsonic This isn't for the consultants - it's for the paying clients. That's why there's such a great 'need' for D&D - user experience for GM's clients.

[2016-05-17 08:35] Adam-JF opened #444 "Download Emails for CM"
As a member of the marketing team of Global {M} I would like a download all of the email addresses within the app marked against their Names, Job Titles (Headline) and Locations to update our Campaign Monitor lists.

Would it be possible to get a big Excel file of these?

[2016-05-17 09:14] SimonLab commented on #444
@Adam-JF I don't remember as I haven't use a lot Kibina but does it allow to select the emails and then copy them (or download) in an csv file?

[2016-05-17 10:37] Adam-JF commented on #444
@SimonLab I can copy 1000 results at a time from Kibana - however, i'm proposing a mass download of every email address in the app (circa 50,000) - ultimately this loops back to issue #403 where I need a way of going through Kibana and extracting more information at a time - I just wondered if you can download the details of the people in the app now from the back-end and then we'll manipulate the

[2016-05-17 11:03] nelsonic commented on #439
@iteles understood. 👍

[2016-05-17 13:25] SimonLab commented on #327
This issue is resolved with #423

[2016-05-17 13:25] #327 closed

[2016-05-17 13:36] iteles commented on #435
@Adam-JF We're still not clear on the concept of the hierarchy.

What will this look like? How is the hierarchy formed? Could you please share some simple black and white wireframes of how you see this working so we can discuss and estimate ASAP please?

[2016-05-17 13:57] SimonLab opened #445 "Memory Usage"
The application seems to use all the memory:

![memoryusage1](https://cloud.githubusercontent.com/assets/6057298/15324621/1a5f663c-1c3f-11e6-93e1-ef975a5a4050.png)

![memoryusage2](https://cloud.githubusercontent.com/assets/6057298/15324624/1e1029a6-1c3f-11e6-9ff8-31e82ba020bb.png)

I can see two reasons this might happend:
- People are using more and more the application and there is not enough m

[2016-05-17 14:32] nelsonic commented on #445
@SimonLab this *looks* like a leak. you can *temporarily* increase the size of the dyno.
but to *diagnose* the issue you will probably need to use New Relic ... https://docs.newrelic.com/docs/accounts-partnerships/partnerships/heroku-new-relic/heroku-install-new-relic-add-on (*14-day free trial*)

[2016-05-18 09:11] nelsonic commented on #445
@SimonLab please confirm if you are still seeing this issue. 👍

[2016-05-18 09:36] SimonLab commented on #445
I've done some test by requesting some candidate (between 50 to 100 I think) pages in a short period of time. The memory usage went up but didn't reach the limit and it looks like this morning the garbage collector clean the memory too, so for now it's look that it works.

![memoryusage](https://cloud.githubusercontent.com/assets/6057298/15354080/cb561536-1ce3-11e6-8e14-733943a9c565.png)

However

[2016-05-18 09:55] Adam-JF commented on #435
Thoughts: In retrospect, to me, having a company hierarchy isn't hugely helpful at this stage so perhaps it would be better to rethink this issue and simply have an area on a client page which lists all the company employees on it for that client - we could then prioritise or highlight those people who are our key contacts etc.

(awaiting approval from Nick)

[2016-05-18 10:11] iteles commented on #435
Thanks @Adam-JF - how do you see the prioritisation working?

[2016-05-18 10:50] Adam-JF commented on #435
Key Contacts are highlighted in a different colour around the edge of their photo.

[2016-05-18 10:55] iteles commented on #435
@Adam-JF And who has the permissions to determine who are the key contacts?
Also, do they need to link through to the people's profiles on the app? Because that involves a lot of work around permissions - you want them to see those people but *not* be able to browse around the app at their leisure.

[2016-05-18 13:16] Adam-JF commented on #435
@iteles Only admins from Global {M}'s side can assign key contacts.
When you say people's profiles do you mean the employees or the candidates on their dashboard?
If you mean employees then no, there is no need for them to be able to see their own profile, this is just something that Global {M} should be able to do.
With regards to candidates then yes we would like the clients to be able to view t

[2016-05-18 18:36] nelsonic opened #447 "Dependencies out of Date"
[![Dependency Status](https://david-dm.org/FAC-GM/app.svg)](https://david-dm.org/FAC-GM/app)
![fac-gm-dependencies](https://cloud.githubusercontent.com/assets/194400/15370642/c57c25b4-1d2f-11e6-8978-f024ca8b407d.png)
https://david-dm.org/FAC-GM/app

@SimonLab  / @heron2014 Please update as soon as possible.

[2016-05-18 21:45] Adam-JF commented on #441
Fixed.

[2016-05-18 21:45] #441 closed

[2016-05-19 15:28] nelsonic commented on #445
Looks like you can Close the issue and add this to your list of node.js lessons learned. ✅

[2016-05-19 16:04] SimonLab commented on #445
resolve with #446

[2016-05-19 16:04] #445 closed

[2016-05-19 19:49] SimonLab commented on #409
resolve with #448

[2016-05-19 19:49] #409 closed

[2016-05-19 19:50] SimonLab commented on #447
resolved with #448

[2016-05-19 19:50] #447 closed

[2016-05-20 08:01] Adam-JF opened #450 "App Is Down"
![screen shot 2016-05-20 at 08 57 03](https://cloud.githubusercontent.com/assets/15364186/15421117/71b15fcc-1e69-11e6-8d93-6dec02bbd92e.png)

[2016-05-20 08:05] nelsonic commented on #450
@Adam-JF its available for me...
<img width="919" alt="gm-app-avaialbe" src="https://cloud.githubusercontent.com/assets/194400/15421217/e617ec14-1e69-11e6-8edc-afea5ef9e94c.png">

Please refresh and confirm you still see an error. thanks.

[2016-05-20 08:05] SimonLab commented on #450
It's up again. It might have been just an update on the heroku server. I'm going to check the log to be sure

[2016-05-20 08:05] nelsonic commented on #450
Thanks for investigating @SimonLab 👍

[2016-05-20 08:19] SimonLab commented on #450
@Adam-JF Thanks for the report, I checked the logs and it seems that Heroku and especially Elasticsearch couldn't response to our requests in time. I think there were a short issue with Heroku connection, it should work normally now.

[2016-05-20 08:36] Adam-JF commented on #450
Sorted, thanks guys.

[2016-05-20 10:40] Adam-JF commented on #360
![lgcfnoou](https://cloud.githubusercontent.com/assets/15364186/15425358/a9bf606a-1e7f-11e6-8c29-308d886aab3d.jpg)

[2016-05-20 11:12] SimonLab opened #451 "Create User Client"
As a manager I would like to be able to add a client by saving his email and password to the application. This will allow the new client to have an access to the application.

### Steps to do that:

Create a form to allow an admin to create a client user:

- [x] Create an endpoint to access the form : GET /client-users/create (email, password, active)
- [x] Create a view to display the form: clien

[2016-05-20 13:56] SimonLab commented on #450
@Adam-JF just before the app was down do you remember if you were using Kibana? It seems that Elasticsearch take a long time to respond to the requests.

[2016-05-20 14:37] SimonLab commented on #450
It seems that Elasticsearch try to resolve the problem
![errorelasticsearch](https://cloud.githubusercontent.com/assets/6057298/15431236/bf7b2fc6-1ea0-11e6-904d-c9d5da942201.png)

[2016-05-21 10:20] #450 closed

[2016-05-21 14:03] iteles commented on #451
@SimonLab Can we please get a user story for this which our PO can update with wireframes next week, a sprint milestone and some labels? 😉

[2016-05-23 08:19] Adam-JF commented on #419
Works great.

[2016-05-23 08:19] #419 closed

[2016-05-23 08:19] Adam-JF commented on #421
Working great.

[2016-05-23 08:19] #421 closed

[2016-05-23 08:20] Adam-JF commented on #423
Working great.

[2016-05-23 08:20] #423 closed

[2016-05-23 08:20] Adam-JF commented on #382
Working great.

[2016-05-23 08:20] #382 closed

[2016-05-23 08:21] Adam-JF commented on #319
Fixed, working great.

[2016-05-24 10:35] SimonLab commented on #398
@Adam-JF you can now test this feature on the staging area.

[2016-05-24 12:18] Adam-JF opened #453 "Proposed UI Client Dashboard"
![screen shot 2016-05-24 at 12 54 15](https://cloud.githubusercontent.com/assets/15364186/15503278/02e75eac-21b1-11e6-8d37-08070e56f63c.png)

![screen shot 2016-05-24 at 13 44 45](https://cloud.githubusercontent.com/assets/15364186/15504205/b92f4e28-21b5-11e6-961e-8ef5bbfd4b7b.png)

If it's in bold it's a priority for Sprint 10.

**- Candidate images will link to profiles so they can look at their

[2016-05-24 13:03] iteles commented on #453
@Adam-JF As discussed, @SimonLab @heron2014 and I will go through this in detail tomorrow and put together estimates for the additional functionality not in our original proposed scope 👍

[2016-05-24 13:43] Adam-JF commented on #398
Tested browsing for new file before uploading previous one.
Tested upload with file types:
- [ ] .rtf
- [ ] .pdf
- [ ] .docx
- [ ] .doc
- [ ] .txt
- [ ] .png

Working great. Awesome work guys.

[2016-05-24 14:02] Adam-JF opened #454 "Client Blacklisting"
I made eGym 'inactive' but eGym contacts are still listed as 'Client Employees' and are still not able to be contacted on the list view.

[2016-05-24 14:14] Adam-JF commented on #453
Mobile View

![screen shot 2016-05-24 at 15 13 34](https://cloud.githubusercontent.com/assets/15364186/15507119/23a10af6-21c2-11e6-8b94-10f839a0d828.png)

[2016-05-24 14:52] SimonLab commented on #454
@Adam-JF do you mind to check if the error is fixed on the staging area, thanks

[2016-05-24 15:28] Adam-JF commented on #454
Working on staging area.

[2016-05-24 15:33] Adam-JF opened #456 "Remove Playabl Client Dulplicates"
Can we remove these two duplicates from appearing on the client list.

AVTeQB31rpl4VzRBHU6v
AVTjYZxwrpl4VzRBHWFn

They were uploaded by mistake.

We would like to keep the one with the single job vacancy attached to it.

[2016-05-24 15:35] Adam-JF opened #457 "Info Bug"
The 'Info' being saved on a candidate profile is being deleted when the page is refreshed.

This issue was not there during the initial testing.

[2016-05-24 16:30] Adam-JF commented on #360
![7h-njl28_400x400](https://cloud.githubusercontent.com/assets/15364186/15511828/21388042-21d5-11e6-8911-6445d4bd6ebe.jpg)

[2016-05-24 16:35] Adam-JF opened #458 "Client Blacklisting Bug 2"
The app does not always consistently blacklist contacts who list their companies as their 'Current Experience'.

Case in point 'Apperio'.

![screen shot 2016-05-24 at 17 33 48](https://cloud.githubusercontent.com/assets/15364186/15512036/ddb54ef8-21d5-11e6-9895-6ca89434679f.png)

[2016-05-24 16:56] SimonLab commented on #456
@Adam-JF can you precise which one do you want to keep, there are no more jobs attached to any of them I think

[2016-05-24 17:08] SimonLab commented on #458
The application is currently searching blacklisting canididate based on their "current" value instead of the headline of the profile as the headline can be edited by the candidate and can contain a random value. On your example we can see that only one profile has Apperio the other  are BighHand and Platina

[2016-05-24 18:11] SimonLab commented on #457
Thanks for reporting the error, it will be fixed with the Pull Request #459

[2016-05-24 18:46] Adam-JF commented on #458
In the instance of Nicholas, his current experience is listed as being Apperio - Plantina is listed as past experience. Is this LI being dumb?

![screen shot 2016-05-24 at 19 44 56](https://cloud.githubusercontent.com/assets/15364186/15515875/1342d95c-21e8-11e6-990c-77af471caa1c.png)

[2016-05-24 18:57] SimonLab commented on #458
Well spotted. It's a new edge case. the LI must have change and we need to update the extension.

[2016-05-25 07:58] Adam-JF commented on #456
This is the one i'd like to keep - https://global-m.herokuapp.com/clients/AVTNwbTNln0IhCC9ww00

![Uploading Screen Shot 2016-05-25 at 08.58.13.png…]()

[2016-05-25 08:05] Adam-JF commented on #458
It's the same for Ian Kujawa - i've had a look at the new class names on LI and collected some screenshots (might help).

![screen shot 2016-05-25 at 09 01 11](https://cloud.githubusercontent.com/assets/15364186/15532446/cb44f430-2257-11e6-809e-845ce1d21695.png)

![screen shot 2016-05-25 at 09 03 24](https://cloud.githubusercontent.com/assets/15364186/15532450/cffdc524-2257-11e6-8d0b-997e546d513f.

[2016-05-25 08:52] SimonLab commented on #456
I've deleted the duplicates, you shouldn't see them in the list anymore

[2016-05-25 08:56] SimonLab commented on #457
@Adam-JF this issue should be resolved with #459 , you can test it on the app.

[2016-05-25 08:57] SimonLab commented on #454
This issue should be solved on the production app now.

[2016-05-25 09:08] Adam-JF commented on #457
Fixed, working great.

[2016-05-25 09:08] #457 closed

[2016-05-25 09:08] Adam-JF commented on #454
Fixed.

[2016-05-25 09:08] #454 closed

[2016-05-25 09:08] Adam-JF commented on #456
Perfect, thank you.

[2016-05-25 09:08] #456 closed

[2016-05-25 15:29] heron2014 opened #461 "Travis not passing because of possibly linux/ubuntu issue with npm"
I have this issue with my machine:

![ubuntu-error](https://cloud.githubusercontent.com/assets/8476884/15545844/a5be99a8-2295-11e6-99ad-e065e15f7132.png)

Anyone experiences similar issue? @SimonLab @nelsonic

[2016-05-25 15:46] nelsonic commented on #461
@heron2014 what version of Node are you running?
have you tried `rm -rf node_modules` then `npm install` and `npm t` ?

[2016-05-25 15:51] heron2014 commented on #461
my node version is 4.1.0 , I think I am really behind. I will follow your advise @nelsonic

[2016-05-25 16:36] SimonLab commented on #461
@heron2014 the test are passing on my ubuntu and my node version is 4.0.0 too. I think you can reinstall your npm packages if fix some problem for me yesterday. However there is still a problem with Travis that we need to identify, maybe a Travis vs bcrypt problem?

[2016-05-25 16:41] nelsonic commented on #461
Hmm... can you send a link to the failed build?

[2016-05-25 16:44] SimonLab commented on #461
This is the [build](https://travis-ci.org/FAC-GM/app/builds/132875454)

[2016-05-25 17:26] heron2014 commented on #461
This is very bizarre, I followed few suggestions from this issue [here](https://github.com/ncb000gt/node.bcrypt.js/issues/90#issue-5482289) but with no lack, still have problem with one of dependency from bcrypt. (I assume)

[2016-05-25 17:38] heron2014 commented on #461
@SimonLab my test are passing , I think the problem is with 'node-gyp rebuild' module.

[2016-05-26 08:55] nelsonic commented on #461
@heron2014 / @SimonLab I suggest we _all_ agree on a (*latest stable*) version of Node.js to use for this project and use it *everywhere*...

[2016-05-26 09:30] heron2014 commented on #461
Resolved with this [460](https://github.com/FAC-GM/app/pull/460)

[2016-05-26 09:30] #461 closed

[2016-05-26 09:37] heron2014 commented on #433
General steps:
- Differentiate access to the application as a gm user and client
- Create an endpoint where the client can enter its email and password
- Find if the email exists in our database and validate the password (decrypte)
- Redirect to the dashboard of the client if login successful or login page if not successful
- Update current endpoints with the right permission
- UI/UX

[2016-05-26 09:44] heron2014 opened #462 "Update particular client view"
As a gm user I would like to see in client detailed page/or list of clients which client has an access to the application.

- display information on particular client such as: Authorized to the application, email address used for the login (these information are not editable)

[2016-05-26 14:19] heron2014 commented on #462
This feature looks like this at the moment:

example of client users Unauthorized:

![authorized1](https://cloud.githubusercontent.com/assets/8476884/15577610/22b8d364-2355-11e6-928d-976251165cb9.png)

Authorized is the same but green.

[2016-05-26 15:44] heron2014 opened #464 "unique email client user"
Before creating the new client user we need to check if the email already exist in database.

[2016-05-27 18:23] iteles commented on #398
Thanks @Adam-JF ! Please close the issue if you're happy with it :)

[2016-05-27 20:37] #398 closed

[2016-05-30 10:39] SimonLab commented on #464
The idea is to search in our type if an email already exists or not. Elasticsearch provide the [Term Query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-term-query.html):

So by using the Term Query on our email field of the client user document we are expecting the result to return only documents with this email (the result will contain 0 or 1 document). To execute th

[2016-05-30 11:36] SimonLab commented on #464
# Steps

Extract existing values. Just a simple search will display the information we need

[code]
The _source properties of the result give us the information we need to store.

Delete the current type which will reset the mapping

[code]

Define the new mapping for the email field:

[code]

Reindex the values:

[code]

Each time we are running our tests we are deleting all our database and inde

[2016-05-31 11:09] SimonLab commented on #433
We are already using hapi-auth-jwt2 for the login of the users (via Google oauth2):
 - register the [hapi-auth-jwt2](https://github.com/FAC-GM/app/blob/4ba1c7606f806266dcc8f7fddfaebcd87ade4bb0/lib/index.js#L57) scheme on the server
- Create a [jwt startegy](https://github.com/FAC-GM/app/blob/login-client/lib/authentication.js)
- Use this strategy on most of the routes for example on [home](https:/

[2016-05-31 12:15] SimonLab commented on #433
Creating two different strategies based on the same scheme seems to produce some conflicts. Instead of creating two strategies we can distinguish our cases on the validate function.

[2016-05-31 14:20] nelsonic commented on #433
@SimonLab is this so people can login using username/email & password instead of Google Auth?

[2016-05-31 14:23] SimonLab commented on #433
Yes it's for login with email/password. We manage to create two strategies based on hapi-auth-jwt2. Our error was from our token which was undefined, we just needed to precise the cookieKey property.

[2016-05-31 14:37] Adam-JF commented on #433
UI

This is the bare bones version of the client login.

![screen shot 2016-05-31 at 15 36 13](https://cloud.githubusercontent.com/assets/15364186/15678256/87fa4480-2745-11e6-88d2-aff973fe37a4.png)

This however, is the kind of aesthetic I'd like to recreate if possible.

![21df4887f2938164c3e7d7c853bdfc44](https://cloud.githubusercontent.com/assets/15364186/15678253/850e3236-2745-11e6-9f7d-555bad

[2016-06-01 10:04] iteles commented on #433
A few questions:
+ Could you please provide the colour (hex) codes for the colours you've used?
+ If this is a squirrel HR product, shouldn't it be branded as such rather than Global {M}
+ I would advise that we keep this page very clean/without a background colour, otherwise there will be _big_ clashes with the colour scheme when they get to their dashboard
+ A forgotten password link was not in

[2016-06-01 10:26] Adam-JF commented on #433
We don't have a Squirrel HR logo yet so we cannot brand it as such. Global {M} is what we're working under for now.

With regards to the colour, a translucent background in any colour variation is fine, it doesn't have to be purple. An off-white or grey would suffice.

The forgotten password button isn't necessary at this stage.

However, will there be any kind of notification from the app though

[2016-06-01 10:56] SimonLab commented on #434
To  apply the action on a candidate (reject, next stage), I'm thinking of using some ajax call and update the DOM candidate depending on the response of the ajax call. I think it can enhance the experience of the clients. @iteles @nelsonic do you think it's a good idea or should we keep with a simple form submission and refresh the dashboard page of the client?

[2016-06-01 12:03] SimonLab commented on #444
@Adam-JF let us know if you need a new update of the list

[2016-06-01 12:15] SimonLab commented on #437
# Steps

The client can select the stages from a pre selected list. The client can change the order of the stages. To display the stages in order and to know what is a next stage for a candidate we need to add a new property to the stage objects:

- [ ] Add the "order" property to the stages. The order value must be unique

By default all the stages are linked to a new job:

- [ ] Add a property s

[2016-06-01 12:46] Adam-JF commented on #462
Working great.

[2016-06-01 12:46] #462 closed

[2016-06-01 12:46] Adam-JF commented on #451
Tested, working great.

[2016-06-01 12:46] #451 closed

[2016-06-01 12:47] Adam-JF commented on #444
How long does the process take to replicate now? (for future reference)

[2016-06-01 12:48] Adam-JF commented on #464
How do I test this?

[2016-06-01 12:53] SimonLab commented on #464
You need to try to create a new client user with an email which is already used by another client user

[2016-06-01 12:54] Adam-JF commented on #464
Working great.

![screen shot 2016-06-01 at 13 54 34](https://cloud.githubusercontent.com/assets/15364186/15710104/672d9c1e-2800-11e6-9deb-509c47afc872.png)

[2016-06-01 13:07] SimonLab commented on #444
It should take around 30 mn to run the script again, we need a bit of time to configure the script and to verify the data the script receive

[2016-06-01 13:55] SimonLab opened #467 "Select active user with a term query"
We are using [match_phrase](https://github.com/FAC-GM/app/blob/3e34e80671a755f0857a87c89ae9f178b480bb23/lib/database-helpers/elasticsearch/exist_active_users.js#L12) to select the active user. A better solution is to use the term query (see also #464 on why term query is good). For that we need to define a new mapping for the user type and for the value we don't want to be analyzed (email, phone,

[2016-06-01 14:01] Adam-JF commented on #360
![scout24](https://cloud.githubusercontent.com/assets/15364186/15712307/c298ff5e-2809-11e6-9657-cd6053990b26.jpg)

[2016-06-01 14:21] iteles commented on #464
@SimonLab @heron2014

:arrow_right: That's the use of user stories :blush:

[2016-06-02 09:01] Adam-JF opened #468 "App Duplicates"
The app is duplicating some profiles which are coming in from LI.

https://global-m.herokuapp.com/query?job=&fullname=alejandro+garcia+gill&location=&current=visual+engineering&skills=&page=1&totalPages=5

https://www.linkedin.com/in/alejandro-garc%C3%ADa-gil-95687b15

The LI address on all of the profiles is the same - the skills however, differ between profiles, as does the experience (some vers

[2016-06-02 09:28] Adam-JF opened #469 "Highlight Presence of CV"
As a consultant I would like to be able to see that a profile has a CV attached to it more clearly.
Just as we currently have 'Info', 'Notes' and 'Emails' in a larger, bolder font on the profile pages, can we have the same as a heading above the CV upload.

Similarly, can profiles with a CV have an icon on the list view of profiles so we know they have them.

<i class="fa fa-file-text-o" aria-hidd

[2016-06-02 09:36] Adam-JF opened #470 "Website Applications"
If a candidate has applied to a job through the website, they should be assigned an 'Applied status' onto their profiles automatically and should appear in the dashboard for review under the corresponding client/job.

This will need to be in a separate area because for popular jobs Dubai etc. we can have upwards of 100 applicants. Will design a wireframe after priority has been assigned.

[2016-06-02 09:40] Adam-JF opened #471 "Create Candidate Profile"
In some cases we will need to be able to create a profile for a candidate who does not have LI.

In this instance we'll need the capacity to create a basic profile which consists of their name and a CV, the Info, Notes and Email functionality as well as the ability to have a status.

[2016-06-02 10:17] SimonLab commented on #433
@Adam-JF you can test the login page on the staging area now.

The dashboard is not done yet but you can try to access the "test" dasboard by going to /client-dashboard (try first without being logged and then after the login provess)

you can access the login page for the client on /client-login

Let us know your feedbacks thanks.

[2016-06-02 10:25] Adam-JF commented on #433
- [ ] I was unable to access the dashboard if I hadn't logged in. (as expected)
- [ ] Attempting to access the dashboard without logging in meant I was redirected to login page. (as expected)
- [ ] After logging in I was able to reach the dashboard page. (as expected)
- [ ] I de-authorised my user and was then unable to login to the app (as expected) - as an addition, if reauthorised a prompt simi

[2016-06-02 10:44] Adam-JF opened #472 "App Gradients"
@iteles @SimonLab @heron2014

How difficult is it to change the default background gradient for the entire app?

[2016-06-02 11:06] heron2014 opened #473 "Save sid - unique string from Redis to ES when client-user logg in"
When admin update the client user (for example change authorized to not authorized), client user at the moment still have access to dashboard.

Possible solution:  is to create/save sid  in ES as well , whenever client-user is loggin to the application.

When we update the client-user in the application , we delete sid in Redis.

Related to #433

[2016-06-02 11:11] heron2014 commented on #433
Thanks @Adam-JF for your feedback.

[2016-06-02 13:33] Adam-JF opened #474 "Client Side of App is Down"
The Clients List page is down.

 https://global-m.herokuapp.com/clients/list

![screen shot 2016-06-02 at 14 33 42](https://cloud.githubusercontent.com/assets/15364186/15746568/07df34a0-28cf-11e6-9088-57b155cf0753.png)

[2016-06-02 13:35] SimonLab commented on #474
Thanks for reporting we are investigating the issue now

[2016-06-02 13:59] SimonLab commented on #474
It should be ok now. We needed to update the list of users for #466 and some data didn't match the old list of client. We just update to the right structure for the client. Sorry for that

[2016-06-02 14:02] Adam-JF commented on #474
Client list is back.

Dashboards are now unhappy.

![screen shot 2016-06-02 at 15 01 38](https://cloud.githubusercontent.com/assets/15364186/15747503/ed9903e2-28d2-11e6-9ab3-36b4a5e4896b.png)

[2016-06-02 14:12] SimonLab commented on #474
@Adam-JF the list should be clean now, please can you check if the list is complete? Thanks

[2016-06-02 14:26] iteles commented on #472
Do you just want to change the colour of the background or have a colour gradient throughout the background?

I would suggest we tread lightly in this area as it's very easy to turn an application into a 90s powerpoint slide with background gradients.

[2016-06-02 14:26] Adam-JF commented on #474
Fixed. Thanks guys.

[2016-06-02 14:26] #474 closed

[2016-06-02 14:44] Adam-JF commented on #472
I mean to change the background colour for every screen to something a bit more lively.

I'm not proposing anything too mad. Something tasteful, which I'll decide on and have approved. Just wanted to know how long it would take to do across the whole app.

Since it's likely we'll be rocking the purple theme in the future - these are some examples.

![screen shot 2016-06-02 at 15 40 26](https://clo

[2016-06-02 15:51] heron2014 opened #475 "Customize stages depending on a client-user"
As a client user I want to be able to customize stages for particular jobs that I offer.

[2016-06-02 15:55] SimonLab commented on #475
A user will be allow to select and unselect stages for a job, however a stage can't be unselected if there are any candidates on this stage

[2016-06-02 16:55] iteles commented on #433
@Adam-JF On this point:

This is not a common use pattern and not really something the user would expect.
If the password or email are typed in incorrectly, there should be an error message saying something like 'username or password is not recognised, please try again or email the administrator' (I wouldn't specify which for security purposes. Does this not cover the same use case?

[2016-06-03 15:19] heron2014 commented on #437
@Adam-JF Can client unselect all the stages for the particular job which would mean that the job doesn't have any stages?

[2016-06-03 15:55] iteles commented on #434
@SimonLab @heron2014 This is quite a big topic and the last two comments here might be better off in a linked technical issue rather than the main user issue 😊

[2016-06-03 15:56] iteles commented on #453
@Adam-JF As discussed over the phone earlier today, could you please let us know ASAP how you intend to deal with submitted candidates if they are not part of the main dashboard?

[2016-06-05 18:32] heron2014 commented on #475
![stages](https://cloud.githubusercontent.com/assets/8476884/15807360/4b9b0584-2b54-11e6-91e8-68c633263cb0.png)

[2016-06-06 08:00] Adam-JF opened #476 "Incorrect Applicant/Profile Pairing"
Omar did not apply for a role, Masooth did. But Masooth's contact details have been put onto Omar's profile, similarly Masooth's application letter and CV are on Omar's profile not Masooth's.

This was for the Senior C# Developer role for Oak Capital.

![screen shot 2016-06-06 at 08 32 33](https://cloud.githubusercontent.com/assets/15364186/15815421/eddaf50a-2bc4-11e6-8fa9-ae8556200590.png)
![scre

[2016-06-06 08:04] Adam-JF opened #477 "GMR API Email"
Nick hasn't been receiving all website applicants to his inbox for his Senior C# Developer role for Oak Capital.

He received an email notification for the application of the following:
Manuelito Amor Cortez Cortez
Mina Abd El-Hakim
Nimish Tandon Tandon
Nader Kamel

![screen shot 2016-06-06 at 08 14 41](https://cloud.githubusercontent.com/assets/15364186/15815530/97ee4600-2bc5-11e6-91a2-8095c6e13c

[2016-06-06 08:55] Adam-JF opened #478 "Estimate - CSV Upload"
As a director at Global {M} I would like the ability to update our database by uploading CSV files of contacts. This should be a replicable process we can initiate and monitor ourselves.

[2016-06-06 10:48] heron2014 commented on #434
structure of the new object to be able to display information on the view:

[code]

[2016-06-06 12:58] Adam-JF commented on #458
What's the status of this?

Do we know roughy how long it would take to update the extension?

[2016-06-06 14:00] #390 closed

[2016-06-06 14:17] iteles commented on #477
@Adam-JF For applicants coming from the website, it's TOAD you need to speak to as we have no control over this.

[2016-06-06 14:27] Adam-JF commented on #477
@iteles Thought as much, will send them over an email. Thank you.

[2016-06-06 14:28] iteles commented on #453
@Adam-JF This is now urgent. Could you please advise?

[2016-06-06 14:33] Adam-JF commented on #453
@iteles Submitted should remain a stage for now. Until there is a separate, internal client inbox for submissions, general inquiries etc. there is no simple way to separate them.

[2016-06-06 15:08] heron2014 commented on #458
@Adam-JF we will work on this bug tomorrow. We need to target the right properties from LI and check if this will not not impact other elements. We will try to publish new extension tomorrow.

[2016-06-06 15:29] Adam-JF commented on #458
@heron2014 Perfect, thank you.

[2016-06-06 15:32] Adam-JF opened #480 "Add Adam Hemsley"
I added the Adam Hemsley LI account and user details to the app and Alex was still unable to login.

His email address is:
ahemsley2@mac.com

Does this need to be approved?

Alternatively, if I change the LI name in the user details will the Alex Hemsley app account be able to pull in information from the Adam Hemsley LI account?

[2016-06-06 15:42] #477 closed

[2016-06-06 17:56] SimonLab commented on #480
I'm not sure I understand completely what you want to achieve with Adam's account. If you just want to connect normally to the application the email address needs to be a gmail address and I'm not sure it is one.

Otherwise using the extension should work with other accounts. I will check if there are some side effects and list what the application needs for an account with multiple LI to work.

[2016-06-07 16:25] Adam-JF opened #481 "Laura cannot login"
The app is saying that Laura does not have permission to access the app.

Her email address is laura@global-m.co.uk

[2016-06-07 16:39] Adam-JF opened #482 "Search Page Redesign"
@iteles  This is the design direction i'd like to take the app - i've taken into consideration feedback from the consultants but also yourself and the developers with regards to it's layout, navigation and overall aesthetic.

This is what I would like to emulate.

The functionality broadly remains the same however, there are some key changes to the search layout and overall navigation.

As these a

[2016-06-08 08:43] SimonLab commented on #481
Laura might already have an old cookie stored on her browser. Can she try to close Chrome completely and try to login again?

[2016-06-09 08:18] Adam-JF commented on #481
I told Laura so remove access to the app from the permissions part of her google account and then re-login.

I also asked her to close chrome completely.

Neither solution worked and its still saying she doesn't have permission. I've double checked everything on accounts though and there doesn't appear to be anything out of the ordinary.

[2016-06-09 08:40] SimonLab commented on #481
I'm going to delete completely Laura's account and create it again, it might resolve the problem. Also does Laura use Safari or Chrome? We are using a cookie to create a session to login into the application so if there is a tool which block the creation of the cookies she won't be able to login. First let's try with a new account and if the problem persists we will need to check the logs on Laura

[2016-06-09 09:02] Adam-JF commented on #481
It's not a browser issue. I tried logging into Laura's account from my own computer and also didn't have permission.

[2016-06-09 10:19] SimonLab commented on #481
Thanks for testing this on your computer it helps us to filter why it's not working. I've recreated Laura's account, can you try to login again, thanks

[2016-06-09 10:24] Adam-JF commented on #481
I've tried again and it still isn't working.

[2016-06-09 12:56] SimonLab commented on #481
Technical tasks:
- [ ] On the first connection save the idGoogle to the profile in ES

[2016-06-09 15:25] Adam-JF opened #484 "Candidate Profile Redesign"
Here is the design for the new profile layouts.

Major difference here is how we display job applications and the formatting of the information we store.

Notes are specific to each stage and are added by clicking a stage, this is how someone would view and/or edit notes about a candidate.

Adding a new status/submission is done by clicking the plus arrow and navigating through the menus as we do

[2016-06-09 15:45] Adam-JF opened #485 "Email Redesign"
Below are the designs for the new email layout for profiles.

Again, similar information to before, just different layout.

![candidate profile emails](https://cloud.githubusercontent.com/assets/15364186/15935986/4101fb36-2e61-11e6-87d7-ecfdd287e397.png)

Individual Email layout
![email refresh individual](https://cloud.githubusercontent.com/assets/15364186/15935764/60dea464-2e60-11e6-852a-9c6aa38

[2016-06-10 10:54] Adam-JF commented on #433
![client login](https://cloud.githubusercontent.com/assets/15364186/15962310/23c70b28-2f02-11e6-8cad-930dc69f0c0d.png)

[2016-06-10 11:02] heron2014 commented on #433
@Adam-JF Could you send over the email the logo ?

[2016-06-10 14:10] heron2014 opened #487 "Proposed feature for sprint 11"
As a Client I want to see all the candidates I rejected for my jobs.

As a user I don't want to have the possibility to add a status to a client with a job where the canidate has been rejected.

Technical task: Save candidates who has been rejected by the client to avoid submitting them to the same job by the users?

[2016-06-10 15:04] SimonLab commented on #481
@Adam-JF this issue should be resolved now. Can you try to log again with Laura's account and test the dashboard. However the old status you've created before won't work I still need to reset them. If you can send me by email the id of the profiles where you add some status I will reset them.

[2016-06-10 19:09] heron2014 commented on #453
@Adam-JF the newest version of dashboard/stages/client-login is on a staging domain. Looking forward to your feedback.

[2016-06-13 08:29] Adam-JF opened #488 "Client Dashboard is Down"
I was editing the stages for the System Engineer job posting for 360T and manually refreshing the page so the new stages would be displayed and the test app stopped working and displayed the 500 Internal Server Error message.

This only affects the client dashboard page.

[2016-06-13 09:02] iteles commented on #488
Hi @Adam-JF Is it still down for you? And is it just for this client or is it down across the board?

I'm using a test foundersandcoders email address and it seems to be working!

[2016-06-13 09:04] Adam-JF commented on #488
@iteles It's still down for the 360T account I made - and its just for the new client dashboard, the login itself works fine, I just can't get any further than that.

[2016-06-13 09:17] SimonLab commented on #488
@Adam-JF did you logged again before changing the stages or you didn't have to?

[2016-06-13 09:20] Adam-JF commented on #488
I started at the client login screen where autofill has stored my login details for it and then proceeded to move some aspects of the dashboard around (progressing people through stages, removing people etc.) then when I changed the stages for the first job and refreshed the page a few times, I got the 500 error message.

[2016-06-13 09:52] SimonLab commented on #488
@Adam-JF Thanks for the details. Just to confirm when you change the stages allowed for the job did you select only one?

[2016-06-13 09:54] Adam-JF commented on #488
At one point I attempted to remove the stages for the System Engineer job all together - this didn't work.

Then I made it so just one stage would be there, refreshed the page several times and then I got the error.

[2016-06-13 10:22] Adam-JF commented on #488
It's back up. Thanks guys.

[2016-06-13 10:26] Adam-JF opened #489 "Client Dashboard - View"
I zoomed out of the dashboard to 50% and I feel like this is much better way of viewing all the activity, it also eliminates the need to scroll across, furthermore the names and photos are still legible.

![screen shot 2016-06-13 at 11 24 01](https://cloud.githubusercontent.com/assets/15364186/16004418/69dd415a-3159-11e6-8b0d-d7029c3e3098.png)

[2016-06-13 10:32] SimonLab commented on #488
@Adam-JF It should work now with all the stages unselected and also with only one stage selected.

[2016-06-13 10:38] Adam-JF opened #490 "360T Roles"
Client dashboard is only displaying 6 open roles when on the 360T client there are 22.

Where are the missing ones? Are they not being displayed deliberately?

[2016-06-13 10:50] SimonLab commented on #490
@Adam-JF the client page display all the roles, active and inactive, however the dashboard only show the jobs which are currently active. It's true that the term open roles should be rename to just "jobs" maybe, or should we only display the active roles on the client page?

[2016-06-13 11:00] Adam-JF opened #491 "Client Dashboard - Testing Feedback"
Candidates can be progressed through stages as expected - dashboard updates in real time.

Job Title links to custom interview stage creation area as expected.

Stages can be added and removed as expected.

Clicking Account Manager image links to new email creation.

Can we change the font across the client side to Myriad Pro Regular (is this a pain?) http://fontsup.com/family/myriad+pro.html

LI

[2016-06-13 11:02] Adam-JF commented on #490
Understood. This is all going to change relatively soon, will be submitting my client and dashboard designs/changes to you guys this afternoon. This will include renaming features etc.

[2016-06-13 11:27] iteles commented on #491
@Adam-JF
For this iteration, can I ask that you provide us with a single background image for the header that we can hard-code in across all clients for now so we can try it out and discuss it with Nick tomorrow in the demo?
As per your original designs, this will be for desktop only and not mobile.

[2016-06-13 11:29] SimonLab commented on #491
"account manager (Nick) should be larger, as should the client logo", do you just want the circle icon to be a bit bigger?

[2016-06-13 11:33] iteles commented on #490
Thanks @Adam-JF, that would be great. We'll be focusing on the dashboard today but will take a look tomorrow.

Can we close this issue for now?

[2016-06-13 11:56] heron2014 commented on #491
@Adam-JF just to confirm 'Can we remove the white outlined boxes and replace it with simple grey dividing lines between stages.'.

Is this regards to the customize-stages by the client or dashboard?

We have changed the look of the stages:

![stages-lines](https://cloud.githubusercontent.com/assets/8476884/16006663/2b618582-3166-11e6-952b-9f86ac9695db.png)

[2016-06-13 12:01] heron2014 commented on #491
@Adam-JF  we have changed the look of dashboard just for test:

![dash-stages](https://cloud.githubusercontent.com/assets/8476884/16006789/d7255fec-3166-11e6-8fc0-5651f0bd79d7.png)

Which design you prefer?

[2016-06-13 12:03] Adam-JF opened #492 "Dashboard Temp Design"
Visualisation of dashboard changes from issue #491

![screen shot 2016-06-13 at 13 03 01](https://cloud.githubusercontent.com/assets/15364186/16006870/31b64f48-3167-11e6-827d-42ccd779bee7.png)

For the M logo and the larger Global M logo.

Can we just create an empty box with the same fill colour as the header of the page and just overlay the larger global M logo inside it, would this achieve the

[2016-06-13 12:09] Adam-JF commented on #491
@heron2014 I've created a new issue with a design, the way you've separated the stages is perfect though.

[2016-06-13 12:11] Adam-JF commented on #490
Yep.

[2016-06-13 12:11] #490 closed

[2016-06-13 12:11] #488 closed

[2016-06-13 12:12] SimonLab commented on #492
On the login page we are using the squirrel logo, don't you want to use this one on the dashboard also to be consistent?

[2016-06-13 12:15] Adam-JF commented on #492
Issue is that the squirrel logo looks horrendous if it's too big so we couldn't use it at the top of the screen  hence the global M branding, I understand that this is inconsistent, but I can't think of another image to use in the header which we can keep consistent across all the pages which would actually make sense.

[2016-06-13 12:18] Adam-JF commented on #492
Also, I don't want the clients actual logo there anymore, the images vary too much and at that size most are borderline unrecognisable, similarly they have varying background colours etc. which doesn't help the overall look.

Can we keep the M logo consistent across all client screens in the top left.

[2016-06-13 13:00] Adam-JF commented on #492
Hey guys just seen the update to the dashboard, it's looking good.

If we can just add a horizontal line between each of the job roles as above that would be great - similarly what were your thoughts about #489 - below is a screenshot of your update to the dashboard at 75% zoom. This would give people who have 6 stages or fewer a full view of their dashboard without any need for scrolling etc.

![

[2016-06-13 13:37] heron2014 commented on #492
@Adam-JF in regards to make dashboard in 75% zoom view, I would hold this thought for now and first test it with your clients. (it might happen that for some client-users the candidates and text might be too small).

@iteles what do you think?

[2016-06-13 13:50] heron2014 commented on #492
@Adam-JF we have deployed the last changes. Is there anything more that you want to improve?

[2016-06-13 13:55] Adam-JF commented on #492
@heron2014

I still feel like a 75% reduction for the job vacancy view is the best way of showing a dashboard overview.
The spacing for the {M} logo is a tad off in the header, can we make it closer to the middle of the header?

![screen shot 2016-06-13 at 14 54 42](https://cloud.githubusercontent.com/assets/15364186/16009943/c9c4f6cc-3176-11e6-865e-e403668671f1.png)

Other than that, I think now

[2016-06-13 14:06] SimonLab commented on #492
@Adam-JF refactoring all the css at this stage to reduce all the elements size is not easy and will take some time. It might also add some bugs and can induce a high risk to break the current display of the application. We think at this stage it is better to keep the current version of the application.

However I agree that we need to have more thought on how we can display more information on the

[2016-06-13 14:08] Adam-JF commented on #492
@SimonLab Now I understand. Fair enough, looks good for now. I can always show it on my computer with both views so Nick and Alex have an idea of it. Great work guys.

[2016-06-13 14:40] Adam-JF opened #493 "Back Button"
Just as we currently have a progress or next button on the client dashboard, can we similarly have one which puts a candidate back a stage?

[2016-06-13 15:11] Adam-JF opened #494 "Transfer Domain Name - herokuapp to SquirrelHR"
We purchased the domain SquirrelHR.co among other variants a few months ago - how difficult would it be to transfer the app over to this domain name?

[2016-06-13 15:33] nelsonic commented on #494
@Adam-JF not difficult at all. when do you need it done? (*is it a priority for today / this week...?*)

[2016-06-13 15:50] Adam-JF commented on #494
If it could be done today that would be great!

What information will you be needing from us?

[2016-06-14 08:26] SimonLab opened #495 "Add rejected tag"
As a recruiter I want to see on the detailed page of a candidate a list of tags which represent the jobs where the candidate has been rejected

[2016-06-14 10:10] heron2014 commented on #495
@Adam-JF we have implemented rejected tags on candidate page. Please can you review it, thanks.

[2016-06-14 10:16] Adam-JF commented on #495
Firstly, thank you so much for doing that so quickly.

It's working great on the test site - I used Simon Duff's profile for the example.

I did add him to the dashboard and remove him twice though (not a bug), hence the double on the profile (my bad)

One thing, can we add the word 'Rejected' to the status tag - aka. 'Kaufland - DevOps - Rejected' just to be crystal clear.

[2016-06-14 10:42] heron2014 commented on #495
@Adam-JF We have deployed last changed to staging area.

[2016-06-16 11:14] SimonLab opened #497 "csv upload questions"
@Adam-JF we have a few questions concerning this feature.

- "upload an Excel or CSV file into the app", It's easier for us to work with csv file, instead of having to create a parser specifically for the Excel format could you convert the file manually?

- "This will then match with candidates in the app", The elasticsearch database has by default a limit on how many searches you can execute, do

[2016-06-16 11:17] heron2014 commented on #497
Basic wireframes how we see this feature:

![csv-upload](https://cloud.githubusercontent.com/assets/8476884/16114995/3e3b3bd2-33bc-11e6-8145-df86776b501b.png)

![send-email](https://cloud.githubusercontent.com/assets/8476884/16114976/24b60b06-33bc-11e6-823c-9074144a39fa.png)

[2016-06-16 11:54] Adam-JF commented on #497
It's easier for us to work with csv file, instead of having to create a parser specifically for the Excel format could you convert the file manually? -
**Yes, I can easily convert an Excel file to CSV for the uploads if this makes the process easier - Campaign Monitor does allow you to download the details in various formats include csv**

The elasticsearch database has by default a limit on how m

[2016-06-16 12:16] SimonLab commented on #497
Thanks for the details.

Just to be sure, the only way we can find candidates on the app from the csv file is by their email as it is a unique string. Searching by name might get some wrong profiles. From I understand you will be able to get the emails from Campaign Monitor, is that right?

"each page are fixed" - Do you refer to the order of the list of candidates and how they are displayed on th

[2016-06-16 12:34] Adam-JF commented on #497
Yes, we can download the email addresses as well as the names from Campaign Monitor.

I refer to the order - arranging them alphabetically seems like the most sensible way to do it.

The app does occasionally move profiles, we've tested this even when no one is using LinkedIn/the extension.

[2016-06-16 15:41] Adam-JF commented on #497
What would happen if someone who isn't in the app is uploaded?

Is it possible that this could create a blank profile with simply their name and email address?

This would involve also being able to add a LinkedIn address manually to their profile to later populate the information.

[2016-06-16 16:16] SimonLab commented on #497
We could create an empty profile for each emails that couldn't be match with an existing candidate. To add the LI url we will need to create a form and an ajax call to update the value like on the info section. We estimate this work to be 1 day developer

[2016-06-19 13:45] SimonLab opened #498 "Create label list"
Create a new label list item on the type csv-list:
The document structure on the csv-list type is
[code]
The mapping of listName must not be analyzed!

- [x]  Define the mapping of the csv-list on test/initialize.js
- [x] Define the mapping of csv-list with curl for the production database
[code]
- [x] Create a form which let a user creates the labe list item
- [x] Create the handler which index a

[2016-06-19 17:55] SimonLab commented on #497
@Adam-JF could you send us an example of the csv format, we need to know how to target the emails values. At the moment we are working on a version of a csv file where a column "email" is defined, would this work for you?

[2016-06-20 10:19] heron2014 opened #499 "Add a form to candidate profile which allow to add/edit linkedin url"
As a user I want to be able to add or edit linkedin url to existing or new candidate profile.

[2016-06-20 10:29] heron2014 commented on #499
[ ] - create an endpoint /li/save - [POST]
[ ] - add button next to LI url, if url exist button - EDIT if doesn't exist button ADD
[ ] - create a form on candidate profile with one input for LI
[ ] - ajax call to add/edit
[ ] - update candidate profile in ES

[2016-06-20 10:54] SimonLab commented on #498
The email on the candidate is currently analyzed by ES. To be able to use the terms query to search on the email we need the value to be not analyzed. Instead of reindexing the email value with the new mapping we are creating a new property "emailRaw" which is a copy of the email but not analyzed. We don't want to reindex because changing the mapping can break the extension especially the way we a

[2016-06-20 11:53] heron2014 commented on #499
Wireframe for this feature:

![li-edit](https://cloud.githubusercontent.com/assets/8476884/16193260/e95503dc-36e5-11e6-8541-5c4954245988.png)

![li-save](https://cloud.githubusercontent.com/assets/8476884/16193262/eb9a530e-36e5-11e6-8a9d-4058d829b968.png)

[2016-06-20 13:25] Adam-JF commented on #482
![little squirrel](https://cloud.githubusercontent.com/assets/15364186/16195732/de39c840-36f2-11e6-8d68-9a2d9ec96632.png)

[2016-06-20 13:41] Adam-JF opened #501 "Replace Match Score Logo"
I've got this far with the homepage changes - i'm making progress but i've hit a bit of a snag.

Where we currently have the {M} for the match score, i'd like to replace this with an image, but in the same position and then have it fixed on the page.

![screen shot 2016-06-20 at 14 38 32](https://cloud.githubusercontent.com/assets/15364186/16196216/1575ae76-36f5-11e6-8226-ad5ec108833d.png)

[2016-06-20 14:03] #501 closed

[2016-06-20 14:19] Adam-JF commented on #319
The issue has popped up again, Nick and Henry are having this issue regularly.

[2016-06-20 15:19] heron2014 opened #502 "Download the list of candidate who belongs to specific list"
As a user I would like to be able to download the list of candidates who belong to specific group.

Basic wireframe for the list of groups with action button (the first one is download):

![fron-end](https://cloud.githubusercontent.com/assets/8476884/16199746/a6b0a942-3702-11e6-8e7d-b6794cd5f63f.png)

[2016-06-20 15:49] heron2014 opened #503 "Display list of candidates who belongs to specific group"
As a user I want to see all the candidates who belong to specific group.

- [x] create an endpoint /csv-list/{param} - param will be name of the specific group
- [x] create helper to search in ES for only candidates who belongs to this group
- [x] replace paragraph with the name of the list by anchor tag with above url
- [x] reuse home page to display candidates
- [x] add condition for search bar

[2016-06-21 10:14] SimonLab opened #504 "Delete a csv list"
- [x] For each candidates belonging to the list delete the name of the list from the property listNames of the candidates

- [x]  Delete the document on the type csv-list which represent the list:
- [x] Tests

[2016-06-21 10:17] heron2014 opened #505 "Display and remove list of specific groups on candidate profile"
As a user I would like to see on candidate profile to which list that candidate belongs to. Also I want to be able to remove that candidate from one of the lists.

- [x] add property listNames on the candidate profile
- [x] display listNames on the candidate profile
- [x] create an endpoint /candidate/list-delete [POST]
- [x] ajax call to delete candidate from the specific list
- [x] tests

[2016-06-21 12:56] Adam-JF opened #506 "CSS Homepage Edits"
Edits for:
- [x] Colours (header, background, icons)
- [x] Profile Containers
- [x] Page up/down navigation
- [x] Picture shape

[2016-06-21 14:04] Adam-JF opened #508 "Navigation Buttons - Homepage"
Currently the navigation buttons on the homepage jump to the other font awesome arrow, not to the bottom of the page - I intend to reposition these buttons to the right hand side of the page so will need some HTML changing.

![screen shot 2016-06-21 at 15 01 54](https://cloud.githubusercontent.com/assets/15364186/16232158/5c4d53b8-37c1-11e6-92c8-ca87c469f4ff.png)

[2016-06-21 15:58] iteles commented on #508
@Adam-JF When you know the changes needed, please let us know and assign to @heron2014

[2016-06-22 09:31] Adam-JF opened #509 "Change Font"
I noticed the client dashboard work has been merged!

Would it be possible to change the font to Myriad Pro across the app now?

Is there anything I need to do in advance to make this work?

[2016-06-22 10:07] heron2014 commented on #509
@Adam-JF I will move the fonts from the client folder to the general one, in this way we can use the fonts across both pages.

[2016-06-22 10:08] heron2014 commented on #508
@Adam-JF I will push this change of html into your branch, then you will be able to test it.

[2016-06-22 10:09] Adam-JF commented on #508
@heron2014 Thank you so much! I've been running round in circles thinking of how to make this work.

[2016-06-22 10:11] SimonLab opened #510 "search by skills on a list"
- [x] Create endpoint for skill search on csv list
- [x] Search by skills on ES
- [x] Display results

@Adam-JF searching by skills is the same as applying a filter on the list of candidates. So either the candidates have the skills and we display them or they don't have the skills and we don't display them. This means that the relevance of the search will always be 100% for each candidates. So fr

[2016-06-22 10:32] Adam-JF commented on #508
@heron2014 Do I need to pull the changes from the test-branch in the same way i'd do it from master branch?

[2016-06-22 10:44] Adam-JF commented on #481
It's back - Laura had the same message saying that she did not have permission to access the app.

[2016-06-22 10:45] heron2014 commented on #508
@Adam-JF I just pushed the recent changes , use these commands:
```git checkout test-branch```
```git pull origin test-branch```

I already merged with master, so your branch is up to date with master.

Please, test the changes and let me know :+1:

[2016-06-22 10:52] SimonLab commented on #481
@Adam-JF is it possible for you to connect with Laura's email? Let us know if you can and we will add some logs track the problem.

[2016-06-22 11:48] Adam-JF opened #511 "Local Host Issue"
Getting an internal server error message on my local host site whenever I try to visit a profile.

I've re-run npm start... any ideas?

![screen shot 2016-06-22 at 12 45 03](https://cloud.githubusercontent.com/assets/15364186/16265456/59d9a47c-3877-11e6-9bd1-fb4119b4e962.png)

[2016-06-22 11:52] heron2014 commented on #511
@Adam-JF Could you paste a photo from your terminal?

[2016-06-22 11:54] Adam-JF commented on #511
![screen shot 2016-06-22 at 12 54 28](https://cloud.githubusercontent.com/assets/15364186/16265654/7af7892a-3878-11e6-83cc-b0af74f455f9.png)
Aether:app adam$ npm start

The server is running on:  http://Aether.local:8000
node_redis: Warning: Redis server does not require a password, but a password was supplied.
node_redis: Warning: Redis server does not require a password, but a password was suppl

[2016-06-22 12:04] heron2014 commented on #511
@Adam-JF can you try to run your tests by : ```npm test``` ? Let us know if you still have the issue after.

[2016-06-22 12:10] Adam-JF commented on #511
![screen shot 2016-06-22 at 13 09 38](https://cloud.githubusercontent.com/assets/15364186/16266026/a4b0ce1e-387a-11e6-95a8-a9c81ca3192a.png)

[2016-06-22 12:10] Adam-JF commented on #511
It's back up - thanks :)

[2016-06-22 12:11] #511 closed

[2016-06-22 13:41] Adam-JF opened #512 "Add horizontal line"
Can we add a horizontal line in HTML between each candidate box? - i'm aware I can achieve a similar effect using border-bottom, but I want to have more free scope to change the width and size properties of the line.

Attached are images of the homepage without a candidate box, with a border-bottom and then the original plan for the design.

![screen shot 2016-06-22 at 14 36 31](https://cloud.gith

[2016-06-22 13:52] heron2014 commented on #512
@Adam-JF Do you mean to have a horizontal line which goes up to the checkboxes area for sending emails?

[2016-06-22 13:58] Adam-JF commented on #512
@heron2014 Yes - ideally i'd just like the lines themselves inserted, probably at about 2/3px and then I could edit the width accordingly?

[2016-06-22 14:14] heron2014 commented on #512
@Adam-JF I made a quick change in developer tool:

This is ugly for now because it is a wrong background and still while box around the candidate (but is it what you meant? )

[code]
I believe from the quick look the first line shouldn't appear if you add border only to .list-wraper and not to .title-wrapper.

This is the result:

![border](https://cloud.githubusercontent.com/assets/8476884/162697

[2016-06-22 14:32] Adam-JF commented on #512
Yes and no, I think attaching it to the the list wrapper might be a good plan.

But i'd like some padding either side, similarly, I want to be able to change the width without the formatting for the candidate boxes changing, I don't want to stretch across the entire page, I want it to stop more or less just before the send email boxes on the left of the profiles - hence why I thought the line migh

[2016-06-22 15:19] Adam-JF commented on #512
If we add a ``<hr>`` to recur underneath each profile with a class name then I can change/define the style in the CSS?

[2016-06-22 15:36] heron2014 commented on #512
@Adam-JF yes, I will push some changes soon and you can then style it.

[2016-06-22 15:41] heron2014 commented on #512
@Adam-JF I have added ```horizontal-profile``` class to hr , feel free to change the class name - I haven't styled it at all - I leave it to you. If you need any help let me know. :+1:

[2016-06-22 16:11] Adam-JF commented on #512
![screen shot 2016-06-22 at 17 10 45](https://cloud.githubusercontent.com/assets/15364186/16274185/5e44c22e-389c-11e6-9518-482a7115fcb8.png)

[2016-06-22 16:53] SimonLab commented on #512
You need first to commit your changes: ``` git commit -am 'your message'``

[2016-06-22 17:00] SimonLab commented on #498
@Adam-JF you can review the first version on the staging area, let us know what you think. At the moment you can create a list and see all the lists:
![list](https://cloud.githubusercontent.com/assets/6057298/16275685/f6827882-38a2-11e6-9fd9-37d21cef56c3.png)

The number next to the name of the list is the number of candidates in this list. Maybe test this feature with a small number of profiles i

[2016-06-23 09:03] Adam-JF commented on #512
What do I do about this? 🆘

![screen shot 2016-06-23 at 10 02 50](https://cloud.githubusercontent.com/assets/15364186/16297651/a98e34d0-3929-11e6-9c98-8b62b7d0f104.png)

[2016-06-23 09:10] heron2014 commented on #512
@Adam-JF have you managed to commit your changes before that message?

[2016-06-23 09:11] Adam-JF commented on #512
Yeah I did, it said that there were no new changes to commit.

[2016-06-23 09:13] heron2014 commented on #512
@Adam-JF From stackoverflow: http://stackoverflow.com/questions/13361729/found-a-swap-file-by-the-name and http://stackoverflow.com/questions/14513349/e325-attention-found-a-swap-file-by-the-name-git-commit-editmsg-swp , they recommend to delete that swap file

[2016-06-23 09:17] heron2014 commented on #512
@Adam-JF Try to remove this file : ```git rm .git/.MERGE_MSG.swp```

[2016-06-23 09:17] Adam-JF commented on #512
Ok, i'm not concerned about losing anything on my end, just want to make sure I don't impact you guys.

I'll delete it now.

[2016-06-23 09:17] Adam-JF commented on #512
![screen shot 2016-06-23 at 10 17 26](https://cloud.githubusercontent.com/assets/15364186/16298134/bad23d34-392b-11e6-9ec3-e896833e374c.png)

[2016-06-23 09:20] heron2014 commented on #512
@Adam-JF yes, merge it with commit message.

[2016-06-23 09:22] Adam-JF commented on #512
@heron2014 Sorry to sound thick... but, how do I do that, where do I type... how do I then merge it... 😨

[2016-06-23 09:26] Adam-JF commented on #498
I added a new list called Windows and it uploaded as expected and displayed the correct number of results (19)
I could see the list you created and my own.
The options for uploading a file and naming it worked great.

All looking good so far.

[2016-06-23 09:28] heron2014 commented on #512
@Adam-JF by default your terminal opened editor called ```vim```.  We can use vim to insert your commit or you can quit this editor and go back to normal terminal by ```:q```

[2016-06-23 09:28] Adam-JF commented on #512
Should I just press ctrl C and then go back into the app and make a new commit message now?

Will the conflicting file I tried to merge again have been removed?

[2016-06-23 09:29] Adam-JF commented on #512
Typed :q and got this...

![screen shot 2016-06-23 at 10 29 13](https://cloud.githubusercontent.com/assets/15364186/16298445/57b3e58e-392d-11e6-957a-c2dbe923c42d.png)

[2016-06-23 09:30] heron2014 commented on #512
Press enter

[2016-06-23 09:30] Adam-JF commented on #512
Nothing happens... shall I add the '!' at the end of :q ?

[2016-06-23 09:31] heron2014 commented on #512
you can also try: ```:wq``` to write quite, also you can try what they suggest

[2016-06-23 09:32] Adam-JF commented on #512
Ok, now we're getting somewhere (really sorry about this)

Next steps?

![screen shot 2016-06-23 at 10 32 32](https://cloud.githubusercontent.com/assets/15364186/16298540/d27901dc-392d-11e6-9b0f-54297149a5c0.png)

[2016-06-23 09:33] heron2014 commented on #512
@Adam-JF ok cool! is said git commit to complete merge - try to do that.

[2016-06-23 09:34] heron2014 commented on #512
```git commit -am 'problem fix' ``` or something like that

[2016-06-23 09:36] Adam-JF commented on #512
Yayyyy - I think it worked :D

I'm going to try and pull from test branch now.

[2016-06-23 09:37] heron2014 commented on #512
@Adam-JF great! yes try to pull.

[2016-06-23 09:50] Adam-JF commented on #512
I pulled and it said it was up to date.

![screen shot 2016-06-23 at 10 47 54](https://cloud.githubusercontent.com/assets/15364186/16299016/ff9c13b4-392f-11e6-9898-b4e6f8f908bf.png)

Checked the code for the changes to candidate.html in partials and I can't see your changes. I have done npm test and npm start to see whether everything just needed refreshing and it's still not there...

Should I pu

[2016-06-23 10:01] heron2014 commented on #512
@Adam-JF hmmm, try to close everything and open again.

[2016-06-23 10:29] Adam-JF commented on #512
Still not working for me. I closed everything, restarted my terminal and atom and it's still not there.

[2016-06-23 10:57] SimonLab opened #515 "Add csv format validation"
- [x] Check the file received is a csv
- [x] Check the Email and Name columns exist

[2016-06-23 11:16] heron2014 commented on #512
@Adam-JF the point of this story is : to never add horizontal line hahaha

[2016-06-23 11:18] Adam-JF commented on #512
@heron2014 Noted - horizontal lines are shi*

[2016-06-23 11:20] Adam-JF commented on #512
For now should I just copy the code you put into the candidate html and then push it all together later on once i've done the styling?

[2016-06-23 11:23] heron2014 commented on #512
@Adam-JF. I guess that's easier, you can do that and try to push.

[2016-06-23 11:28] heron2014 commented on #512
@Adam-JF I would recommend you to read about the git fetch, git pull, git merge, git reset, git log :+1:

[2016-06-23 11:54] Adam-JF commented on #512
@heron2014 Thank you for all your help - will keep that in mind!

Working great now!

![screen shot 2016-06-23 at 12 53 30](https://cloud.githubusercontent.com/assets/15364186/16302177/9c22d1e4-3941-11e6-9adb-561a5b7a6bc4.png)

[2016-06-23 11:54] heron2014 commented on #512
@Adam-JF Great! :+1:

[2016-06-23 12:20] Adam-JF opened #516 "Squirrel Logo"
![squirrel logo](https://cloud.githubusercontent.com/assets/15364186/16302874/60277fd8-3945-11e6-8b47-6ed0fbadf474.png)

![screen shot 2016-06-23 at 12 14 00](https://cloud.githubusercontent.com/assets/15364186/16302741/bc511356-3944-11e6-8a92-a524af0bd790.png)

[2016-06-23 13:00] heron2014 commented on #505
Basic wireframe for this feature:

![listnames](https://cloud.githubusercontent.com/assets/8476884/16303852/bf275ad0-394a-11e6-9b15-6cecfc179fc6.png)

[2016-06-23 13:54] Adam-JF opened #518 "Select All - Help"
@heron2014 I've done something stupid - whilst moving the Select All button to the left of the screen and fixing it in position (did this so someone can always hit the select all regardless of where they are on the page) - i've managed to remove its ability to actually 'Select All' of the email addresses.

I'm not sure how i've done that. Help would be much appreciated.

## Update

It's not comple

[2016-06-23 14:00] Adam-JF opened #519 "Boxes/Containers"
I've removed the box borders throughout the app whilst I was doing the edits for the profiles view on the homepage - this wasn't completely unintentional, but I did intend to/need to replace the boxes with the same horizontal line styling as i've made on the homepage - same padding/margin/style etc.

How would I go about doing this?

Homepage with horizontal lines

![screen shot 2016-06-23 at 14 5

[2016-06-23 14:05] iteles commented on #319
@Adam-JF Have they identified any pattern as to when this happens? Volume of emails? Time of day? Number of emails in a row?

[2016-06-23 14:28] heron2014 commented on #518
I have also noticed (not sure if this is your intention) - checkboxes for sending emails are not aligned to the Select all - label?
![home-page](https://cloud.githubusercontent.com/assets/8476884/16306754/b47b4ab8-3956-11e6-882b-bdcd4d83f996.png)

And if you do search query :

![search-query](https://cloud.githubusercontent.com/assets/8476884/16306809/e028a73c-3956-11e6-9140-58ad7015188e.png)

Als

[2016-06-23 14:31] heron2014 commented on #518
@Adam-JF yes you right, the select all doesn't work on my computer now, I am investigating it now.

[2016-06-23 14:33] Adam-JF commented on #518
The select all shouldn't be aligned, I didn't want it to overlap with the other boxes so yes that's correct.

With the second point by the navigation did you mean the actual search header? If so, yes I wanted it to be slightly transparent.

Everything aligns perfectly on my screen - worried I've made the styling rules too specific for my macbook though.

![screen shot 2016-06-23 at 15 32 23](https

[2016-06-23 14:38] heron2014 commented on #518
@Adam-JF
The relevance circles on scroll they are on top of the search header , just checking if this is your intention?

[2016-06-23 14:42] Adam-JF commented on #518
@heron2014 No, sorry they shouldn't do that - what's the z-index of the header?

Need the relevance circles to be one underneath that.

[2016-06-23 14:53] heron2014 commented on #518
@Adam-JF to fix : select all to be clickable add to :

- mobile-first.css line 377

[code]

Please, let me know if that works.

[2016-06-23 14:55] heron2014 commented on #518
@Adam-JF z-index of the header is super high: ```z-index: 1002; line 41 on mobile-first.css```

[2016-06-23 14:57] Adam-JF commented on #518
@heron2014 Changing z-index to 2 for Select All worked perfectly - thank you!

[2016-06-23 14:57] Adam-JF commented on #518
@heron2014 I've changed the header so it's no longer transparent - decided it looks better.

[2016-06-23 14:58] heron2014 commented on #518
@Adam-JF cool!

[2016-06-23 15:01] heron2014 commented on #519
@Adam-JF just to clarify , you want to add <hr> with the same styling to client page view?

[2016-06-23 15:06] Adam-JF commented on #519
Yep, to every view that used to have a box around it, so jobs/clients - everything that we've listed really...

[2016-06-23 15:06] heron2014 commented on #519
@Adam-JF to add hr to the client view page :

add the same hr with the same class to:
[code]

Also please rename this class into something more general because we will re-use it to all sort of views. Once you do that , I will assist you with other views. :+1:

[2016-06-23 15:08] heron2014 commented on #519
@Adam-JF Let me know if all good!

[2016-06-23 15:12] Adam-JF commented on #519
@heron2014 Works perfectly 👌

[2016-06-23 15:20] iteles commented on #516
That one on the bottom left looks like it survived a car accident!

[2016-06-23 15:26] Adam-JF commented on #516
@iteles Awkward... that ones my favourite 😬

Think it looks like a little Squirrel ninja 👌  Alex has opted for the middle option for now though... but rest assured, I will find a place for the ninja squirrel somewhere in the app...

[2016-06-23 15:53] iteles commented on #516
Hahaha I thought it was a bandage on its head and immediate though 'road kill' 😆 👌

[2016-06-23 16:04] SimonLab commented on #504
@Adam-JF we have deploy a new version on the staging area, you can now test the new features and let us know what you think, thanks

[2016-06-23 16:05] SimonLab commented on #502
@Adam-JF you can now test the new version on the staging area.

[2016-06-23 16:07] SimonLab commented on #515
@Adam-JF a new versin is on the staging area. The validation of the csv file is now imlemented, please test, thanks

[2016-06-23 16:17] Adam-JF commented on #495
Works great.

[2016-06-23 16:17] #495 closed

[2016-06-23 16:25] Adam-JF commented on #499
Tested with Nathan Gray's profile.

Changed LI profile link to an incorrect address and it didn't forward to Nathan's page (as expected)
Changed LI profile link to my own LI address and it linked to my LI page (as expected)

Note: Page needs to be refreshed for changes to come into effect - will continue to link to old LI address if you simply accept the changes made and then click on the link wit

[2016-06-23 16:29] Adam-JF commented on #502
I uploaded a test file called Windows and renamed it Test with the just the columns Email and Name.

Upload worked as expected.

Downloaded file and the file was renamed to 'Test' (as expected) it now contained original contents in alphabetical order as well as 'id, location and current (job title)'.

Amazing work - looking great.

[2016-06-23 16:32] Adam-JF commented on #515
Attempted to add .xls file - was unable to select it whilst browsing through my files, was only allowed to upload .csv files.

Great work.

[2016-06-23 17:46] iteles commented on #502
Can we close this issue @Adam-JF ? 😊

[2016-06-23 17:55] heron2014 commented on #499
@Adam-JF we have implemented fix for the LI forward url without the need to refresh. Could you please re-test this feature, thanks

[2016-06-24 06:35] Adam-JF commented on #504
I was able to delete my test file successfully.

Note - I had to refresh the page for these changes to take effect.

[2016-06-24 06:37] #502 closed

[2016-06-24 09:54] SimonLab commented on #505
@Adam-JF the version of this feature is on the stagin area, you can now test it.

[2016-06-24 10:45] Adam-JF commented on #512
Would it be possible to input the horizontal lines across the rest of the app today?

Aka. between job posts, user lists etc.

[2016-06-24 11:21] SimonLab opened #521 "Wait for the list to be deleted"
Elasticsearch take some time to index or update a document which means that on certain case the document updated or indexed is not available immediately on a search. This issue will be resolve on the next version of Elasticsearch.

see https://github.com/FAC-GM/app/issues/504#issuecomment-228269086
An easy way to resolve this issue is to wait a few seconds before executing a new search.

[2016-06-24 13:09] #515 closed

[2016-06-24 13:10] #401 closed

[2016-06-24 13:11] #444 closed

[2016-06-24 13:11] #464 closed

[2016-06-24 13:11] #498 closed

[2016-06-24 13:12] Adam-JF commented on #499
@heron2014 Perfect, works great.

[2016-06-24 13:12] #499 closed

[2016-06-27 10:20] heron2014 opened #524 "Refactor client_dashboard.js file"
- [ ]  wrap the code in a IIFE (closure) and avoid exposing variables to global scope
- [ ] avoid using for loops

[2016-06-27 10:47] heron2014 commented on #512
@Adam-JF regards to the horizontal line on job posts and user lists pages, are these changes goes to the current [PR](https://github.com/FAC-GM/app/pull/507) into test-branch? Or these modification will be in the next PR?

[2016-06-27 12:01] heron2014 commented on #503
@Adam-JF you can now test this feature in the staging area. Looking forward to your feedback.

[2016-06-27 12:07] heron2014 commented on #481
@Adam-JF is Laura still have a problem with accessing the app?

[2016-06-27 13:58] heron2014 opened #526 "Response indicator on sent email in the candidate profile"
As a user of the app I want to be able to see if the candidate has responded on sent email. It could be represented by an icon indicator.

[2016-06-27 16:06] Adam-JF commented on #512
@heron2014 Ideally they'd be in this PR - however, i've been having some issues today so will be with you guys tomorrow morning to go through everything :) we can make a plan then.

[2016-06-27 16:34] Adam-JF commented on #481
@heron2014 Yeah, unfortunately the issue is still there.

Last time we thought it might be an issue with her email address and whether or not the 'L' in laura@global-m.co.uk was capitalised or not

[2016-06-27 19:36] heron2014 commented on #481
@Adam-JF Thanks for the update. I have checked the database and it appeared that her email was still with the capital L, I have amended her email into the lowercase l. Please test it, if she still have problems with accessing the app.

[2016-06-27 19:39] iteles commented on #526
**Research** for this to be carried out in sprint 11

[2016-06-28 10:51] Adam-JF commented on #516
![squirrel logo black](https://cloud.githubusercontent.com/assets/15364186/16412922/ad2e31a2-3d26-11e6-88df-3ef4b9ad4685.png)

[2016-06-29 16:55] #506 closed

[2016-06-29 16:57] heron2014 commented on #45
By testing few search query line node.js, d3, c++, c#:

![c](https://cloud.githubusercontent.com/assets/8476884/16461104/d3aec7ea-3e22-11e6-87fd-4605322358ed.png)
![skills-nodejs](https://cloud.githubusercontent.com/assets/8476884/16461117/e4cbe0c6-3e22-11e6-8a71-55c6d196ad45.png)

I haven't notice any bugs so far.

@Adam-JF can you please test it.

[2016-06-29 19:09] Adam-JF opened #527 "Profile Button Styling"
CSS Styling for candidate profile buttons.

[2016-06-29 19:15] iteles commented on #527
@adam-jf always useful to have a screenshot for reference on these :)

[2016-06-29 19:18] Adam-JF commented on #527
@iteles These are the edits I was trying to push earlier, but my thing was acting up (I was doing something wrong) - very minor edits though.

[2016-06-29 19:31] Adam-JF commented on #527
@iteles I've pushed all my changes to test-branch but I can see this has been closed now - is there anything I need to do?

[2016-06-29 19:37] #518 closed

[2016-06-29 19:38] #504 closed

[2016-06-29 20:26] heron2014 opened #528 "Issue on accessing the csv-list with special character #"
Decode/Encode url for listNames to be able to access them.
http://stackoverflow.com/questions/8192742/what-is-the-meaning-of-in-url-and-how-can-i-use-that

Related to the #530

[2016-06-29 21:23] Adam-JF opened #529 "CSV Upload Bug"
Adding a CSV file to the app results in the contents of the csv being re-uploaded as new profiles.

I had uploaded the skills csv's that the guys wanted on the app - I will forward all of these CSV files to you guys now for testing - all of these lists are composed exclusively of people who should have profiles within the app as such, none should be 'new profiles'.

I have deleted all the list upl

[2016-06-29 21:26] Adam-JF opened #530 "CSV Upload Bug 2"
Some files do not register on the app as having names/emails and the lists appear to have no contents.

Note development managers has a blank space where there should be a number - both the 'Email' and 'Name' fields were named correctly on the csv upload file and yet apparently it has nothing in it.

![screen shot 2016-06-29 at 22 18 27](https://cloud.githubusercontent.com/assets/15364186/16469310

[2016-06-30 06:28] SimonLab commented on #529
@Adam-JF are you sure that the profiles were already on the application and especially if the emails are already defined in the application? Do you still want to clean the database and delete the profiles where no LI url is defined?
We don't delete any profiles when a list is deleted (as you noticed).

[2016-06-30 06:30] SimonLab commented on #530
Can you send the Development Manager file for Anita to check. It might have been an connection to the database problem or maybe the file is too big.

[2016-06-30 07:44] heron2014 commented on #530
This issue is also related to [528](https://github.com/FAC-GM/app/issues/528). @Adam-JF can you please send me the list files: c# and Development Manager, thank you.

[2016-06-30 07:45] heron2014 commented on #530
@Adam-JF just seen the files. Thanks

[2016-06-30 08:22] Adam-JF commented on #529
@SimonLab The lists were created using the master list you downloaded for me a few weeks ago.

I made the lists personally so there should be a perfect crossover with the app.

Yes, I'd like to clean up the database by deleting the profiles without the LI URL defined please.

Below is an example of a duplicate upload. Hubert has a full profile as well as the additional one made by the CSV upload.